<!--
  Generated template for the AbsenMobileDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span ion-text color="light" class="fw500">Absen Mobile</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #FFF;">

  <div *ngIf="!isLoading && (absenDetail != null  || activityList.length > 0)">
    <!-- <div *ngIf="fromPage == 'AbsenBawahanPage'" class="header-bawahan" >
      <span ion-text text-wrap class="font3" color="light"><b>{{ nama }}</b></span>
        <span ion-text text-wrap class="font3" color="light"><b>{{ absenDetail['NM_JABATAN'] }}</b></span>
    </div> -->

    <ion-card>
      <ion-card-content>

        <table width="100%">
          <tr>
            <td colspan="3">
              <span ion-text text-wrap class="font3"><b>{{ absenDetail['DATE'] }}</b></span>
              <span ion-text text-wrap class="font3" style="color:#959595;float: right;">{{ shift }}</span>
              <br>
              <br>
            </td>
          </tr>
          <!-- <tr *ngIf="fromPage == 'AbsenBawahanPage'"> -->
          <tr>
            <td colspan="3" style="text-align: center;">
              <span ion-text text-wrap class="font3"><b>{{ nama }}</b></span><br>
              <span ion-text text-wrap class="font3" style="color:#959595;">{{ absenDetail['NIPP'] }}</span><br>
              <span ion-text text-wrap class="font3">{{ absenDetail['NM_JABATAN'] }}</span><br><br>
            </td>
          </tr>
          <tr>
            <td align="right" width="45%">
              <div style="width: 100%;text-align: right;">
                <span ion-text text-wrap class="font" color="secondary">Check In</span><br />
              </div>

              <span text-wrap ion-text class="font2" style="word-break: break-all;">
                <b>{{ absenDetail['CHECK_IN'] }}</b>
              </span>
              <span ion-text text-wrap class="font2" *ngIf="absenDetail['CHECK_IN'] == null">
                <b> --:--:-- </b>
              </span>
            </td>
            <td width="10%" valign="center" align="center">
              <!-- <ion-icon md="md-arrow-round-forward"></ion-icon> -->
              <div style="margin-top: 20px;">
                <b> - </b>
              </div>

            </td>
            <td align="left" width="45%">
              <div style="width: 100%;text-align: left !important;">
                <span ion-text text-wrap class="font" color="danger">Check Out</span><br />
              </div>

              <span text-wrap ion-text class="font2" style="word-break: break-all;">
                <b>{{ absenDetail['CHECK_OUT'] }}</b>
              </span>
              <span ion-text text-wrap class="font2" *ngIf="absenDetail['CHECK_OUT'] == null">
                <b> --:--:-- </b>
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="3" align="center">
              <!-- <span ion-text text-wrap class="font3" style="color:#959595;">
                {{ absenDetail['CHECK_IN_TYPE'] }}
              </span> -->
              <br>

              <div *ngIf="fromPage == 'AbsenBawahanPage'">
                <!-- <div
                  *ngIf="absenDetail['CHECK_OUT'] != null && absenDetail['CHECK_OUT_RATE_SPV'] == null || absenDetail['CHECK_OUT_RATE_SPV'] == '0'">

                  <button ion-button icon-end outline class="my-button" style=" border-radius: 12px;" color="color2"
                    (click)="openModalRating('rate', 'bawahan')">
                    Nilai Kinerja Harian
                    <ion-icon name="md-star-outline"></ion-icon>
                  </button>
                  <br>
                </div> -->

                <!-- 
                <div
                  *ngIf="(absenDetail['CHECK_IN_RATE'] != null && absenDetail['CHECK_IN_RATE'] != '0') && (absenDetail['CHECK_OUT_RATE_SPV'] != null && absenDetail['CHECK_OUT_RATE_SPV'] != '0')">
                  <span *ngFor="let item of createRange(5);let i = index" style="font-size:1.8rem;">
                    <ion-icon name="star" color="color2" *ngIf="i+1 <= absenDetail['CHECK_IN_RATE']"></ion-icon>
                    <ion-icon name="star" color="color4" *ngIf="i+1 > absenDetail['CHECK_IN_RATE']"></ion-icon>
                  </span>
                </div>

                <div
                  *ngIf="(absenDetail['CHECK_IN_RATE'] == null || absenDetail['CHECK_IN_RATE'] == '0') && (absenDetail['CHECK_OUT_RATE_SPV'] != null && absenDetail['CHECK_OUT_RATE_SPV'] != '0')">
                  <span style="font-size:1.8rem;">
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                  </span>
                </div> -->
              </div>

              <div *ngIf="fromPage != 'AbsenBawahanPage'">
                <!-- <div
                  *ngIf="absenDetail['CHECK_OUT'] != null && absenDetail['CHECK_IN_RATE'] == null || absenDetail['CHECK_IN_RATE'] == '0'">
                  <button ion-button icon-end outline class="my-button" style=" border-radius: 12px;" color="color2"
                    (click)="openModalRating('rate', 'atasan')">
                    Nilai Kinerja Harian
                    <ion-icon name="md-star-outline"></ion-icon>
                  </button>
                  <br>
                </div> -->


                <!-- <div
                  *ngIf="(absenDetail['CHECK_OUT_RATE_SPV'] != null && absenDetail['CHECK_OUT_RATE_SPV'] != '0') && (absenDetail['CHECK_IN_RATE'] != null && absenDetail['CHECK_IN_RATE'] != '0')">
                  <span *ngFor="let item of createRange(5);let i = index" style="font-size:1.8rem;">
                    <ion-icon name="star" color="color2" *ngIf="i+1 <= absenDetail['CHECK_OUT_RATE_SPV']"></ion-icon>
                    <ion-icon name="star" color="color4" *ngIf="i+1 > absenDetail['CHECK_OUT_RATE_SPV']"></ion-icon>
                  </span>
                </div>

                <div
                  *ngIf="(absenDetail['CHECK_OUT_RATE_SPV'] == null || absenDetail['CHECK_OUT_RATE_SPV'] == '0')  && (absenDetail['CHECK_IN_RATE'] != null && absenDetail['CHECK_IN_RATE'] != '0')">
                  <span style="font-size:1.8rem;">
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                    <ion-icon name="star" color="color4"></ion-icon>
                  </span>
                </div> -->
              </div>


              <!-- <div
                *ngIf="(absenDetail['CHECK_OUT_RATE_SPV'] != null && absenDetail['CHECK_OUT_RATE_SPV'] != '0') && (absenDetail['CHECK_IN_RATE'] != null && absenDetail['CHECK_IN_RATE'] != '0')">
                <span ion-text text-wrap class="font" style="color:#959595;">Evaluasi Harian dari Atasan</span><br />
                <span *ngFor="let item of createRange(5);let i = index" style="font-size:1.8rem;">
                  <ion-icon name="star" color="color2" *ngIf="i+1 <= absenDetail['CHECK_OUT_RATE_SPV']"></ion-icon>
                  <ion-icon name="star" color="color4" *ngIf="i+1 > absenDetail['CHECK_OUT_RATE_SPV']"></ion-icon>
                </span>
                <br>
                <span *ngIf="absenDetail['CHECK_OUT_RATE_SPV'] == '1'" style="color: red;" class="font">Kurang</span>
                <span *ngIf="absenDetail['CHECK_OUT_RATE_SPV'] == '2'" style="color: red;" class="font">Cukup</span>
                <span *ngIf="absenDetail['CHECK_OUT_RATE_SPV'] == '3'" style="color: orange;" class="font">Baik</span>
                <span *ngIf="absenDetail['CHECK_OUT_RATE_SPV'] == '4'" style="color: green;"
                  class="font">Memuaskan</span>
                <span *ngIf="absenDetail['CHECK_OUT_RATE_SPV'] == '5'" style="color: green;" class="font">Sangat
                  Memuaskan</span>
              </div> -->

<!-- 
              <div
                *ngIf="(absenDetail['CHECK_IN_RATE'] != null && absenDetail['CHECK_IN_RATE'] != '0') && (absenDetail['CHECK_OUT_RATE_SPV'] != null && absenDetail['CHECK_OUT_RATE_SPV'] != '0')">
                <span ion-text text-wrap class="font" style="color:#959595;">Evaluasi dari Bawahan</span><br />
                <span *ngFor="let item of createRange(5);let i = index" style="font-size:1.8rem;">
                  <ion-icon name="star" color="color2" *ngIf="i+1 <= absenDetail['CHECK_IN_RATE']"></ion-icon>
                  <ion-icon name="star" color="color4" *ngIf="i+1 > absenDetail['CHECK_IN_RATE']"></ion-icon>
                </span><br>
                <span *ngIf="absenDetail['CHECK_IN_RATE'] == '1'" style="color: red;" class="font">Kurang</span>
                <span *ngIf="absenDetail['CHECK_IN_RATE'] == '2'" style="color: red;" class="font">Cukup</span>
                <span *ngIf="absenDetail['CHECK_IN_RATE'] == '3'" style="color: orange;" class="font">Baik</span>
                <span *ngIf="absenDetail['CHECK_IN_RATE'] == '4'" style="color: green;"
                  class="font">Memuaskan</span>
                <span *ngIf="absenDetail['CHECK_IN_RATE'] == '5'" style="color: green;" class="font">Sangat
                  Memuaskan</span>
              </div> -->





            </td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="position: relative !important;">
        <div class="add-taks" *ngIf="fromPage == 'AbsenBawahanPage' && absenDetail['CHECK_OUT'] == null">
          <ion-icon name="md-create" class="add-task-icon" color="light" (click)="openModalRating('task')"></ion-icon>
        </div>
        <table>
          <tr>
            <td valign="top" width="38%">
              <div style="position: relative;">
                <img *ngIf="absenDetail['CHECK_IN_PHOTO'] == null" src="assets/flat-icon/photo_dummy_2.png"
                  class="foto-check-dummy">
                <!-- <img *ngIf="absenDetail['CHECK_IN_PHOTO'] != null" src="{{ absenDetail['CHECK_IN_PHOTO'] }}" -->
                <img *ngIf="absenDetail['CHECK_IN_PHOTO'] != null" [src]="absenDetail['CHECK_IN_PHOTO']"
                  class="foto-check">

                <table class="my-table" *ngIf="absenDetail['CHECK_IN_PHOTO'] != null">
                  <tr>
                    <td width="50%" style="padding-right: 2.5px;">
                      <button ion-button icon-only class="my-button-2" color="light"
                        (click)="openPhoto(absenDetail['CHECK_IN_PHOTO'])">
                        <ion-icon name="md-camera" color="googleColor"></ion-icon>
                      </button>
                    </td>
                    <td style="padding-left: 2.5px;">
                      <button ion-button icon-only class="my-button-3" color="light"
                        (click)="openMap(this.absenDetail['CHECK_IN_LONGITUDE'],this.absenDetail['CHECK_IN_LATITUDE'])">
                        <ion-icon name="md-pin" color="googleColor"></ion-icon>
                      </button>
                    </td>
                  </tr>
                </table>

              </div>

            </td>
            <td valign="top">
              <table width="100%" style="margin-left:8px;">
                <tr>
                  <!-- <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/checkin.png" class="icons">
                  </td> -->
                  <td colspan="3" style="padding-left: 3px;">
                    <span ion-text text-wrap class="font3" color="secondary"><b>Check In Activity</b></span>
                    <span ion-text text-wrap class="font3" color="secondary"
                      *ngIf="absenDetail['CHECK_IN_TYPE'] != null"><b> ({{ absenDetail['CHECK_IN_TYPE'] }})</b></span>
                    <br>

                    <div *ngIf="absenDetail['CHECK_IN'] != null">
                      <table>
                        <tr *ngFor="let activity of activityList; let i = index">
                          <td width="10%" align="left" valign="top">{{ i+ 1}}. </td>
                          <td width="90%" align="left" valign="top">
                            <span ion-text text-wrap class="font3"
                              style="white-space: pre-line !important;">{{ activity['ACTIVITY'] }}</span>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div *ngIf="absenDetail['CHECK_IN'] == null">
                      <span ion-text text-wrap class="font3" *ngIf="absenDetail['CHECK_IN_ACTIVITY'] == null">
                        -
                      </span>
                    </div>
                    <!-- <span ion-text text-wrap class="font3" style="white-space: pre-line !important;">{{ absenDetail['CHECK_IN_ACTIVITY'] }}</span> -->
                    <!-- <span ion-text text-wrap class="font3" *ngIf="absenDetail['CHECK_IN_ACTIVITY'] == null">
                      -
                    </span> -->
                    <br>
                    <br>
                    <!-- <span ion-text text-wrap class="font3" color="secondary" *ngIf="absenDetail['CHECK_IN_ACTIVITY_SPV'] != null" ><b>Arahan Atasan</b></span><br>
                    <span ion-text text-wrap class="font3" style="white-space: pre-line !important;" *ngIf="absenDetail['CHECK_IN_ACTIVITY_SPV'] != null" >{{ absenDetail['CHECK_IN_ACTIVITY_SPV'] }}</span>                    
                    <br>
                    <br> -->
                  </td>
                </tr>
                <tr>
                  <!-- <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/pin.png" class="icons">
                  </td>
                  <td colspan="2">
                    
                    <span ion-text text-wrap class="font3" *ngIf="!isLoadingCheckInAddress && checkInAddress != null" (click)="openMap(this.absenDetail['CHECK_IN_LONGITUDE'],this.absenDetail['CHECK_IN_LATITUDE'])">
                      {{ checkInAddress }}
                    </span>
                    <div *ngIf="isLoadingCheckInAddress && checkInAddress == null">
                      <div class="animate-skeleton-background loading-3"></div>
                      <div class="animate-skeleton-background loading-4"></div>
                      <div class="animate-skeleton-background loading-5"></div>
                    </div>
                    <span ion-text text-wrap class="font3" *ngIf="!isLoadingCheckInAddress && checkInAddress == null">
                      -
                    </span>
                  </td> -->
                  <!-- <td colspan="3" >
                    <button ion-button icon-start outline class="my-button" color="secondary" (click)="openMap(this.absenDetail['CHECK_IN_LONGITUDE'],this.absenDetail['CHECK_IN_LATITUDE'])">
                      <ion-icon name="md-pin"></ion-icon>
                      Location                    
                    </button>
                  </td> -->
                </tr>
                <!-- <tr>          
                  <td colspan="3">           
                    <br> 
                    <div class="lihat-foto-checkin" >
                      <table style="margin-right: auto;margin-left: auto;" >
                        <tr>
                          <td width="40px">
                            <img src="assets/flat-icon/camera2.png" class="icons">
                          </td>
                          <td>
                            Lihat Foto Check In
                          </td>
                        </tr>
                      </table>                          
                    </div>
                  </td>
                </tr>        -->
              </table>
            </td>
          </tr>
        </table>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <table>
          <tr>
            <td valign="top" width="38%">
              <div style="position: relative;">
                <img *ngIf="absenDetail['CHECK_OUT_PHOTO'] == null" src="assets/flat-icon/photo_dummy_2.png"
                  class="foto-check-dummy">
                <img *ngIf="absenDetail['CHECK_OUT_PHOTO'] != null" [src]="absenDetail['CHECK_OUT_PHOTO']"
                  class="foto-check">
                <table class="my-table" *ngIf="absenDetail['CHECK_OUT_PHOTO'] != null">
                  <tr>
                    <td width="50%" style="padding-right: 2.5px;">
                      <button ion-button icon-only class="my-button-2" color="light"
                        (click)="openPhoto(absenDetail['CHECK_OUT_PHOTO'])">
                        <ion-icon name="md-camera" color="googleColor"></ion-icon>
                      </button>
                    </td>
                    <td style="padding-left: 2.5px;">
                      <button ion-button icon-only class="my-button-3" color="light"
                        (click)="openMap(this.absenDetail['CHECK_OUT_LONGITUDE'],this.absenDetail['CHECK_OUT_LATITUDE'])">
                        <ion-icon name="md-pin" color="googleColor"></ion-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>

            </td>
            <td valign="top">
              <table width="100%" style="margin-left:8px;">
                <tr>
                  <!-- <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/checkout.png" class="icons">
                  </td> -->
                  <td colspan="3" style="padding-left: 3px;">
                    <span ion-text text-wrap class="font3" color="danger"><b>Check Out Activity</b></span>
                    <span ion-text text-wrap class="font3" color="danger"
                      *ngIf="absenDetail['CHECK_OUT_TYPE'] != null"><b> ( {{ absenDetail['CHECK_OUT_TYPE'] }} )</b></span>

                    <br>
                    <!-- <span ion-text text-wrap class="font3"
                      style="white-space: pre-line !important;">{{ absenDetail['CHECK_OUT_ACTIVITY'] }}</span>
                    <span ion-text text-wrap class="font3" *ngIf="absenDetail['CHECK_OUT_ACTIVITY'] == null">
                      -
                    </span> -->

                    <div *ngIf="absenDetail['CHECK_OUT'] != null">
                      <table>
                        <tr *ngFor="let activity of activityList; let i = index">
                          <td width="10%" align="left" valign="top">{{ i+ 1}}. </td>
                          <td width="90%" align="left" valign="top">
                            <span ion-text text-wrap class="font3" *ngIf="activity['STATUS'] != null"
                              style="white-space: pre-line !important;">{{ activity['ACTIVITY'] }} - {{ activity['STATUS'] }}
                            </span>
                            <span ion-text text-wrap class="font3" *ngIf="activity['STATUS'] == null"
                              style="white-space: pre-line !important;">{{ activity['ACTIVITY'] }}
                            </span>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div *ngIf="absenDetail['CHECK_OUT'] == null">
                      <span ion-text text-wrap class="font3" *ngIf="absenDetail['CHECK_IN_ACTIVITY'] == null">
                        -
                      </span>
                    </div>


                    <br>
                    <br>
                    <span ion-text text-wrap class="font3" color="danger"
                      *ngIf="absenDetail['CHECK_OUT_ACTIVITY_SPV'] != null"><b>Komentar Atasan</b></span><br>
                    <span ion-text text-wrap class="font3" style="white-space: pre-line !important;"
                      *ngIf="absenDetail['CHECK_OUT_ACTIVITY_SPV'] != null">{{ absenDetail['CHECK_OUT_ACTIVITY_SPV'] }}</span>
                    <br>
                    <br>
                  </td>
                </tr>
                <tr>
                  <!-- <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/pin.png" class="icons">
                  </td>
                  <td colspan="2">                    
                    <span ion-text text-wrap class="font3" *ngIf="!isLoadingCheckOutAddress && checkOutAddress != null" (click)="openMap(this.absenDetail['CHECK_OUT_LONGITUDE'],this.absenDetail['CHECK_OUT_LATITUDE'])">
                      {{ checkOutAddress }}
                    </span>
                    <div *ngIf="isLoadingCheckOutAddress && checkOutAddress == null">
                      <div class="animate-skeleton-background loading-3"></div>
                      <div class="animate-skeleton-background loading-4"></div>
                      <div class="animate-skeleton-background loading-5"></div>
                    </div>

                    <div *ngIf="!isLoadingCheckOutAddress && checkOutAddress == null">
                      -
                    </div>
                  </td> -->
                  <!-- <td colspan="3" >
                    <button ion-button icon-start outline class="my-button" color="danger" (click)="openMap(this.absenDetail['CHECK_OUT_LONGITUDE'],this.absenDetail['CHECK_OUT_LATITUDE'])">
                      <ion-icon name="md-pin"></ion-icon>
                      Location                    
                    </button>
                  </td> -->
                </tr>
                <!--         
                <tr>          
                  <td colspan="3">           
                    <br> 
                    <div class="lihat-foto-checkout" >
                      <table style="margin-right: auto;margin-left: auto;" >
                        <tr>
                          <td width="40px">
                            <img src="assets/flat-icon/camera2.png" class="icons">
                          </td>
                          <td>
                            Lihat Foto Check Out
                          </td>
                        </tr>
                      </table>                          
                    </div>
                  </td>
                </tr>   -->
              </table>
            </td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isLoading && (absenDetail == null  || activityList.length == 0)">
    <ion-card>
      <ion-card-content>
        <table width="100%">
          <tr>
            <td colspan="3">
              <div class="animate-skeleton-background loading-1" style="float: left;"></div>
              <div class="animate-skeleton-background loading-1" style="float: right;"></div>
              <br>
              <br>
            </td>
          </tr>
          <tr>
            <td align="right" width="45%">
              <div style="width: 100%;text-align: right;">
                <span ion-text text-wrap class="font" color="secondary">Check In</span><br />
              </div>

              <div class="animate-skeleton-background loading-2">

              </div>
            </td>
            <td width="10%" valign="center" align="center">
              <div style="margin-top: 20px;">
                <b> - </b>
              </div>

            </td>
            <td align="left" width="45%">
              <div style="width: 100%;text-align: left !important;">
                <span ion-text text-wrap class="font" color="danger">Check Out</span><br />
              </div>

              <div class="animate-skeleton-background loading-2">

              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3" align="center">
              <div class="animate-skeleton-background loading-1">

              </div>
            </td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <table>
          <tr>
            <td valign="top" width="38%">
              <img src="assets/flat-icon/photo_dummy_2.png" class="animate-skeleton-background foto-check">
            </td>
            <td>
              <table width="100%">
                <tr>
                  <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/checkin.png" class="icons">
                  </td>
                  <td colspan="2">
                    <span ion-text text-wrap class="font3" color="secondary"><b>Check In Activity</b></span>
                    <br>
                    <div class="animate-skeleton-background loading-3"></div>
                    <div class="animate-skeleton-background loading-4"></div>
                    <div class="animate-skeleton-background loading-5"></div>
                    <br>
                    <br>
                  </td>
                </tr>
                <tr>
                  <!-- <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/pin.png" class="icons">
                  </td>
                  <td colspan="2">
                    <div class="animate-skeleton-background loading-3"></div>
                    <div class="animate-skeleton-background loading-4"></div>
                    <div class="animate-skeleton-background loading-5"></div>
                  </td> -->
                </tr>
              </table>
            </td>
          </tr>
        </table>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <table>
          <tr>
            <td valign="top" width="38%">
              <img src="assets/flat-icon/photo_dummy_2.png" class="animate-skeleton-background foto-check">
            </td>
            <td>
              <table width="100%">
                <tr>
                  <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/checkout.png" class="icons">
                  </td>
                  <td colspan="2">
                    <span ion-text text-wrap class="font3" color="danger"><b>Check Out Activity</b></span>
                    <br>
                    <div class="animate-skeleton-background loading-3"></div>
                    <div class="animate-skeleton-background loading-4"></div>
                    <div class="animate-skeleton-background loading-5"></div>
                    <br>
                    <br>
                  </td>
                </tr>
                <tr>
                  <!-- <td valign="top" width="48px" align="left">
                    <img src="assets/flat-icon/pin.png" class="icons">
                  </td>
                  <td colspan="2">
                    <div class="animate-skeleton-background loading-3"></div>
                    <div class="animate-skeleton-background loading-4"></div>
                    <div class="animate-skeleton-background loading-5"></div>
                  </td> -->
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!isLoading && absenDetail == null && activityList.length == 0" style="text-align: center;">
    <ion-card>
      <ion-card-content>
        <span ion-text text-wrap> tidak ada data.</span>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<!-- <div *ngIf="!isLoading && absenDetail != null">
  <ion-footer *ngIf="fromPage == 'AbsenBawahanPage' && absenDetail['CHECK_OUT'] != null" >   
    <button ion-button icon-end class="my-button" style=" border-radius: 12px;" color="color2" (click)="openModalRating('rate')">
      Nilai Kinerja Harian
      <ion-icon name="md-star-outline"></ion-icon>
    </button>  
</ion-footer>
</div> -->