<!--
  Generated template for the CutiListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span ion-text color="light" class="fw500">Absen Bawahan</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="divs">
    <ion-list>
      <ion-item no-lines style="padding-left: 8px !important">
        <ion-select [(ngModel)]="dataBawahan" placeholder="Pilih Bawahan">
          <ion-option *ngFor="let bawahan of bawahanList" value="{{bawahan['ID USER']}}_{{bawahan['NAMA']}}_{{bawahan['NIPP']}}">{{ bawahan['NAMA'] }} </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-lines style="padding-left: 8px !important">
        <ion-select [(ngModel)]="bulan" placeholder="Pilih Bulan">
          <!-- <ion-option *ngFor="let m of bulanList" value="{{m['bulan']}}_{{m['tahun']}}">{{ convertMonths2(m['bulan']) }} {{m['tahun']}}</ion-option>                    </ion-select> -->
          <ion-option value="1">Januari</ion-option>
          <ion-option value="2">Februari</ion-option>
          <ion-option value="3">Maret</ion-option>
          <ion-option value="4">April</ion-option>
          <ion-option value="5">Mei</ion-option>
          <ion-option value="6">Juni</ion-option>
          <ion-option value="7">Juli</ion-option>
          <ion-option value="8">Agustus</ion-option>
          <ion-option value="9">September</ion-option>
          <ion-option value="10">Oktober</ion-option>
          <ion-option value="11">November</ion-option>
          <ion-option value="12">Desember</ion-option>
        </ion-select>
      </ion-item>
      <ion-item no-lines style="padding-left: 8px !important">
        <ion-select [(ngModel)]="tahun" placeholder="Pilih Tahun">
          <ion-option *ngFor="let tahun of tahunList" value="{{tahun}}">{{tahun}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <button ion-button block icon-start class="button" margin-top (click)="searchBawahan()" [disabled]="(dataBawahan == null || bulan == null || tahun == null) ? true : false">
      <ion-icon name="md-search"></ion-icon>
      Cari
    </button>
    <!-- <ion-col col-12>
      <div align="center" padding class="headers" *ngIf="absenList != null">
        <span style="font-size:1.4rem;" ion-text text-center color="light">Bulan {{ convertMonths() }}</span>
      </div>
    </ion-col> -->
  </div>

  <!-- <ion-grid fixed no-padding *ngIf='isLoading == false'>
    <ion-row>
      <ion-col col-12 no-padding>
        <ion-list class="dining_List">
          <ion-item tapplable *ngFor="let absen of absenList">
            <span item-start>
              <img src="assets/imgs/menu-icon/absensi.png" class="icons" />
            </span>

            <div style="display: table; width: 100%">
              <div style="display: table-cell">
                <span ion-text wrap-text style="font-size: 1.3rem"><b>Tanggal {{absen.TANGGAL}}</b></span>
              </div>

              <div style="display: table-cell; text-align: right">
                <span ion-text text-wrap class="font" color="danger" *ngIf="absen.KETERANGAN == 'Mangkir'">{{ absen.KETERANGAN }} </span>
                <span ion-text text-wrap class="font" color="secondary" *ngIf="absen.KETERANGAN == 'Hadir'">{{ absen.KETERANGAN }} </span>
                <span ion-text text-wrap class="font" color="primary" *ngIf="absen.KETERANGAN == 'Sabtu' || absen.KETERANGAN == 'Minggu' "> {{ absen.KETERANGAN }}</span>
                <span ion-text text-wrap class="font" color="secondary" *ngIf="absen.KET_HADIRKOE != ''">
                  <br />
                  {{ absen.KET_HADIRKOE }}
                </span>
                <br />
                <div style="width: 100%" (click)="goToAbsenMobileDetail(absen)">
                  <img src="assets/flat-icon/absen_mobile.png" class="icons-absen-mobile" />
                </div>
              </div>
            </div>

            <span ion-text wrap-text class="font" color="color4">Datang : </span>
            <span *ngIf="absen.JAM_DATANG == '' || absen.JAM_DATANG == null">&nbsp; - </span>
            <span ion-text wrap-text class="font"><b>{{absen.JAM_DATANG}}</b></span>
            <span ion-text wrap-text class="font" color="color4" *ngIf="absen.STATUS_DATANG!='' || absen.STATUS_DATANG!=null">&nbsp; | &nbsp; Koreksi : </span>
            <span ion-text wrap-text class="font" color="primary" *ngIf="absen.STATUS_DATANG!='' || absen.STATUS_DATANG!=null">{{ absen.STATUS_DATANG }}</span>
            <br />
            <span ion-text wrap-text class="font" color="color4">Ket. Datang </span> <br />
            <span *ngIf="absen.KETERANGAN_MASUK == '' || absen.KETERANGAN_MASUK == null">&nbsp; - &nbsp;</span>
            <span ion-text text-wrap>{{absen.KETERANGAN_MASUK}}</span> <br /><br />

            <span ion-text wrap-text class="font" color="color4">Pulang : </span>
            <span *ngIf="absen.JAM_PULANG == '' || absen.JAM_PULANG == null">&nbsp; - </span>
            <span ion-text wrap-text class="font"><b>{{absen.JAM_PULANG}}</b></span>
            <span ion-text wrap-text class="font" color="color4" *ngIf="absen.STATUS_PULANG!='' || absen.STATUS_PULANG!=null">&nbsp; | &nbsp; Koreksi : </span>
            <span ion-text wrap-text class="font" color="primary" *ngIf="absen.STATUS_PULANG!='' || absen.STATUS_PULANG!=null">{{ absen.STATUS_PULANG }}</span>
            <br />
            <span ion-text wrap-text class="font" color="color4">Ket. Pulang </span> <br />
            <span *ngIf="absen.KETERANGAN_PULANG == '' || absen.KETERANGAN_PULANG == null">&nbsp; - &nbsp;</span>
            <span ion-text text-wrap>{{absen.KETERANGAN_PULANG}}</span>
            <br />
            <span ion-text wrap-text class="font" color="color4">Lembur </span> <br />
            <span ion-text text-wrap color="cyan" class="text-sm bold keterangan">{{absen.LEMBUR}}</span>
            <br />
            <span ion-text text-wrap class="text-sm bold keterangan" *ngIf="absen.KETERANGAN != 'Hadir' && absen.KETERANGAN != 'Mangkir' && absen.KETERANGAN != 'Sabtu' && absen.KETERANGAN != 'Minggu'">
              <b>{{ absen.KETERANGAN }}</b>
            </span>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="parent-card" *ngIf='isLoading == false'>
    <div *ngFor="let absen of absenList">
      <div class="list-card" *ngIf="absen['STATUS'] != 'Sabtu' && absen['STATUS'] != 'Minggu'"
        (click)="goToAbsenMobileDetail(absen)">
        <div class="tgl-container">
          <span style="display: table-cell;
                vertical-align: middle;">
            <span ion-text text-wrap class="hari-font">{{ absen['HARI'] }}</span><br>
            <span ion-text text-wrap class="tgl-font">{{ absen['TGL'] }}</span>
          </span>

        </div>
        <div class="data-container">
          <div class="inline-container">
            <div class="inline-left">
              <span ion-text text-wrap class="check-font">Check In </span>
              <span ion-text text-wrap class="check-type-in"
                *ngIf="absen['CHECK_IN_TYPE'] == 'WFH' || absen['CHECK_IN_TYPE'] == 'WFC' || absen['CHECK_IN_TYPE'] == 'WFO'">{{ absen['CHECK_IN_TYPE'] }}</span>
              <br>
              <span ion-text text-wrap class="time-font">{{ absen['JAM_DATANG'] }}</span>
              <span ion-text text-wrap *ngIf="absen['JAM_DATANG'] == ''" class="check-font"> - </span>
            </div>
            <div class="inline-right">
              <span ion-text text-wrap class="check-font">Check Out </span>
              <span ion-text text-wrap class="check-type-out"
                *ngIf="absen['CHECK_OUT_TYPE'] == 'WFH' || absen['CHECK_OUT_TYPE'] == 'WFC' || absen['CHECK_OUT_TYPE'] == 'WFO'">{{ absen['CHECK_OUT_TYPE'] }}</span>
              <br>
              <span ion-text text-wrap class="time-font">{{ absen['JAM_PULANG'] }}</span>
              <span ion-text text-wrap *ngIf="absen['JAM_DATANG'] == ''" class="check-font"> - </span>

            </div>
          </div>
          <div *ngIf="absen['MENIT_TELAT'] != '-'">
            <span ion-text text-wrap style="font-size: 1.0rem;color: gray;">Telat Datang: </span>
            <span ion-text text-wrap class="check-type-out">{{ absen['MENIT_TELAT'] }} menit</span>
            <br>
          </div>
          <div *ngIf="absen['MENIT_KURANG'] != '-'">
            <span ion-text text-wrap style="font-size: 1.0rem;color: gray;">Cepat Pulang: </span>
            <span ion-text text-wrap class="check-type-out">{{ absen['MENIT_KURANG'] }} menit</span>
            <br>
          </div>

        </div>
      </div>

      <div class="list-card"
        *ngIf="absen['STATUS'] == 'Sabtu' || absen['STATUS'] == 'Minggu' || absen['STATUS'] == 'Libur'"
        (click)="goToAbsenMobileDetail(absen)">
        <div class="tgl-container-red">
          <span style="display: table-cell;
                vertical-align: middle;">
            <span ion-text text-wrap class="hari-font-red">{{ absen['HARI'] }}</span><br>
            <span ion-text text-wrap class="tgl-font-red">{{ absen['TGL'] }}</span>
          </span>

        </div>
        <div class="data-container">
          <div class="inline-container">
            <div class="inline-left">
              <span ion-text text-wrap class="check-font">Check In </span>
              <span ion-text text-wrap class="check-type-in"
                *ngIf="absen['CHECK_IN_TYPE'] == 'WFH' || absen['CHECK_IN_TYPE'] == 'WFC' || absen['CHECK_IN_TYPE'] == 'WFO'">{{ absen['CHECK_IN_TYPE'] }}</span>
              <br>
              <span ion-text text-wrap class="time-font">{{ absen['JAM_DATANG'] }}</span>
              <span ion-text text-wrap *ngIf="absen['JAM_DATANG'] == ''" class="check-font"> - </span>
            </div>
            <div class="inline-right">
              <span ion-text text-wrap class="check-font">Check Out </span>
              <span ion-text text-wrap class="check-type-out"
                *ngIf="absen['CHECK_OUT_TYPE'] == 'WFH' || absen['CHECK_OUT_TYPE'] == 'WFC' || absen['CHECK_OUT_TYPE'] == 'WFO'">{{ absen['CHECK_OUT_TYPE'] }}</span>
              <br>
              <span ion-text text-wrap class="time-font">{{ absen['JAM_PULANG'] }}</span>
              <span ion-text text-wrap *ngIf="absen['JAM_DATANG'] == ''" class="check-font"> - </span>
            </div>
          </div>
          <div *ngIf="absen['MENIT_TELAT'] != '-'">
            <span ion-text text-wrap style="font-size: 1.0rem;color: gray;">Telat Datang: </span>
            <span ion-text text-wrap class="check-type-out">{{ absen['MENIT_TELAT'] }} menit</span>
            <br>
          </div>
          <div *ngIf="absen['MENIT_KURANG'] != '-'">
            <span ion-text text-wrap style="font-size: 1.0rem;color: gray;">Cepat Pulang: </span>
            <span ion-text text-wrap class="check-type-out">{{ absen['MENIT_KURANG'] }} menit</span>
            <br>
          </div>

          <br>
          <div class="ket-card"
            *ngIf="absen['DETAIL_KETERANGAN'] != '' && (absen['STATUS'] == 'Cuti' || absen['STATUS'] == 'Libur')">
            <span ion-text text-wrap style="font-size: 1.2rem;">{{ absen['DETAIL_KETERANGAN'] }}</span>
          </div>

        </div>
      </div>
    </div>

  </div>


  <ion-list *ngIf='isLoading == true'>
    <ion-card *ngFor='let fake of fakeUsers'>
      <ion-item>
        <h2 class="animate-skeleton-background"></h2>
        <h3 class="animate-skeleton-background"></h3>
        <p class="animate-skeleton-background"></p>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
