page-coba-list {
    .item.item-md .checkbox-md {
        margin: 9px 20px 9px 4px !important;
    }

    .item.item-ios .checkbox-ios {
        margin: 9px 20px 9px 4px !important;
    }

    .checkbox-md.checkbox-disabled, .item-md.item-checkbox-disabled ion-label {
        opacity: 1 !important;
    }

    .checkbox-ios.checkbox-disabled, .item-ios.item-checkbox-disabled ion-label {
        opacity: 1 !important;
    }
}
