<ion-header>
	<ion-navbar>
		<ion-title>
			<!-- <span ion-text color="light">Detail Surat</span> -->
		</ion-title>

		<ion-buttons end>
			<button ion-button (click)="goToLogSurat()">
				<!-- <ion-icon style="font-size:2.4rem;" name="md-analytics" color="light"></ion-icon> -->
				<img src="assets/imgs/menu-icon/history.png" style="    max-height: 27px;
				margin-right: 5px;">
			</button>
			<button ion-button (click)="downloadInbox(replaceNomorSurat(messageData['No_Surat']))">
				<ion-icon style="font-size:2.4rem;" name="md-download" color="light"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content margin-bottom>
	<div *ngIf="isLoading == true">
		<ion-item no-lines>
			<div class="animate-skeleton-background load-2"></div>
			<div class="animate-skeleton-background load-3"></div>
			<div class="garis"></div>
			<div class="animate-skeleton-background load-1"> </div>
			<div class="animate-skeleton-background load-3"></div>
			<div class="animate-skeleton-background load-1"> </div>
			<div class="animate-skeleton-background load-3"></div>
		</ion-item>
	</div>

	<div *ngIf="isLoading == false">
		<div *ngIf="messageDetail['Kode Jenis Surat'] != 'permohonan'">
			<ion-card class="header-menu">
				<ion-item no-padding margin-left>
					<span ion-text text-wrap style="font-size:1.5rem;">
						<b>{{ messageDetail['Perihal'] }}</b>
					</span> <br>
					<span ion-text text-wrap style="font-size:1.2rem; color:gray;">
						{{ messageDetail['No Surat'] }}
					</span>
					<div style="padding: 10px;" item-end>
						<button ion-button icon-only clear (click)="show()"> 
							<ion-icon name="ios-arrow-down-outline" *ngIf="!showDetailPesan"></ion-icon>
							<ion-icon name="ios-arrow-up-outline" *ngIf="showDetailPesan"></ion-icon>
						</button>
					</div>

				</ion-item>
			</ion-card>

			<ion-card class="my-card" style="margin-top:10px !important;" *ngIf="showDetailPesan">
				<ion-item>
					<span ion-text text-wrap class="font" color="color4">Tanggal :
					</span><br />
					<span ion-text text-wrap color='dark' class="font2">
						{{ messageDetail['Tanggal Surat'] }}
					</span> <br>

					<span ion-text text-wrap class="font" color="color4">Pengirim :
					</span><br />
					<span ion-text text-wrap color='dark' class="font2">
						{{ messageDetail['Pengirim']['Nama Jabatan'] }}
					</span> <br>

					<div *ngIf="messageDetail['Kode Jenis Surat'] == 'surat_perintah' || messageDetail['Kode Jenis Surat'] == 'undangan' || messageDetail['Kode Jenis Surat'] == 'surat_dinas' || messageDetail['Kode Jenis Surat'] == 'nd_undangan' || messageDetail['Kode Jenis Surat'] == 'nd_sppd'" >
						<span ion-text text-wrap class="font" color="color4">Tanggal Mulai :
						</span><br />
						<span ion-text text-wrap color='dark' class="font2">
							{{ messageDetail['Agenda']['Tanggal Mulai'] }}
						</span> 
						<span ion-text text-wrap *ngIf="messageDetail['Agenda']['Tanggal Mulai'] == null"  color='dark' class="font2">
							-
						</span>
						<br>

						<span ion-text text-wrap class="font" color="color4">Tanggal Akhir :
						</span><br />
						<span ion-text text-wrap color='dark' class="font2">
							{{ messageDetail['Agenda']['Tanggal Akhir'] }}
						</span> 
						<span ion-text text-wrap *ngIf="messageDetail['Agenda']['Tanggal Akhir'] == null"  color='dark' class="font2">
							-
						</span>
						<br>

						<span ion-text text-wrap class="font" color="color4">Lokasi :
						</span><br />
						<span ion-text text-wrap color='dark' class="font2">
							{{ messageDetail['Agenda']['Lokasi'] }}
						</span> 
						<span ion-text text-wrap *ngIf="messageDetail['Agenda']['Lokasi'] == null"  color='dark' class="font2">
							-
						</span>
						<br>
					</div>
					

					<div *ngIf="messageDetail['Penerima Jabatan'].length > 0">
						<span ion-text text-wrap class="font" color="color4">Penerima Jabatan :
						</span>
						<span ion-text text-wrap class="font" color="primary"
							*ngIf="messageDetail['Penerima Jabatan'].length > 1" (click)="showMore(1)"
							style="float:right;">
							View more
						</span> <br>
						<div *ngIf="!showAllPenerimaJabatan">
							<span ion-text text-wrap color='dark' class="font2">
								1. {{ messageDetail['Penerima Jabatan'][0] }}
							</span>
						</div>
						<div *ngIf="showAllPenerimaJabatan">
							<span *ngFor="let p of messageDetail['Penerima Jabatan']; let i = index" ion-text text-wrap
								color='dark' class="font2">
								{{ i + 1 }}. {{ p }} <br />
							</span>
						</div>
					</div>
					<div *ngIf="messageDetail['Tembusan Jabatan'].length > 0">
						<span ion-text text-wrap class="font" color="color4">Tembusan Jabatan :
						</span>
						<span ion-text text-wrap class="font" color="primary"
							*ngIf="messageDetail['Tembusan Jabatan'].length > 1" (click)="showMore(2)"
							style="float:right;">
							View more
						</span> <br>
						<div *ngIf="!showAllTembusanJabatan">
							<span ion-text text-wrap color='dark' class="font2">
								1. {{ messageDetail['Tembusan Jabatan'][0] }}
							</span>
						</div>
						<div *ngIf="showAllTembusanJabatan">
							<span *ngFor="let p of messageDetail['Tembusan Jabatan']; let i = index" ion-text text-wrap
								color='dark' class="font2">
								{{ i + 1 }}. {{ p }} <br />
							</span>
						</div>
					</div>

					<div *ngIf="messageDetail['Penerima Pekerja'].length > 0">
						<span ion-text text-wrap class="font" color="color4">Penerima Pekerja :
						</span>
						<span ion-text text-wrap class="font" color="primary"
							*ngIf="messageDetail['Penerima Pekerja'].length > 1" (click)="showMore(3)"
							style="float:right;">
							View more
						</span> <br>
						<div *ngIf="!showAllPenerimaPekerja">
							<span ion-text text-wrap color='dark' class="font2">
								1. {{ messageDetail['Penerima Pekerja'][0] }}
							</span>
						</div>
						<div *ngIf="showAllPenerimaPekerja">
							<span *ngFor="let p of messageDetail['Penerima Pekerja']; let i = index" ion-text text-wrap
								color='dark' class="font2">
								{{ i + 1 }}. {{ p }} <br />
							</span>
						</div>
					</div>

					<div *ngIf="messageDetail['Tembusan Pekerja'].length > 0">
						<span ion-text text-wrap class="font" color="color4">Tembusan Pekerja :
						</span>
						<span ion-text text-wrap class="font" color="primary"
							*ngIf="messageDetail['Tembusan Pekerja'].length > 1" (click)="showMore(4)"
							style="float:right;">
							View more
						</span> <br>
						<div *ngIf="!showAllTembusanPekerja">
							<span ion-text text-wrap color='dark' class="font2">
								1. {{ messageDetail['Tembusan Pekerja'][0] }}
							</span>
						</div>
						<div *ngIf="showAllTembusanPekerja">
							<span *ngFor="let p of messageDetail['Tembusan Pekerja']; let i = index" ion-text text-wrap
								color='dark' class="font2">
								{{ i + 1 }}. {{ p }} <br />
							</span>
						</div>
					</div>

					<div *ngIf="messageDetail['Penerima Non Pekerja'].length > 0">
						<span ion-text text-wrap class="font" color="color4">Penerima Non Pekerja
							: </span>
						<span ion-text text-wrap class="font" color="primary"
							*ngIf="messageDetail['Penerima Non Pekerja'].length > 1" (click)="showMore(5)"
							style="float:right;">
							View more
						</span> <br>
						<div *ngIf="!showAllPenerimaNonPekerja">
							<span ion-text text-wrap color='dark' class="font2">
								1. {{ messageDetail['Penerima Non Pekerja'][0] }}
							</span>
						</div>
						<div *ngIf="showAllPenerimaNonPekerja">
							<span *ngFor="let p of messageDetail['Penerima Non Pekerja']; let i = index" ion-text
								text-wrap color='dark' class="font2">
								{{ i + 1 }}. {{ p }} <br />
							</span>
						</div>
					</div>

					<div *ngIf="messageDetail['Tembusan Non Pekerja'].length > 0">
						<span ion-text text-wrap class="font" color="color4">Tembusan Non Pekerja
							: </span>
						<span ion-text text-wrap class="font" color="primary"
							*ngIf="messageDetail['Tembusan Non Pekerja'].length > 1" (click)="showMore(6)"
							style="float:right;">
							View more
						</span> <br>
						<div *ngIf="!showAllTembusanNonPekerja">
							<span ion-text text-wrap color='dark' class="font2">
								1. {{ messageDetail['Tembusan Non Pekerja'][0] }}
							</span>
						</div>
						<div *ngIf="showAllTembusanNonPekerja">
							<span *ngFor="let p of messageDetail['Tembusan Non Pekerja']; let i = index" ion-text
								text-wrap color='dark' class="font2">
								{{ i + 1 }}. {{ p }} <br />
							</span>
						</div>
					</div>

					<span ion-text text-wrap class="font" style="color:#959595">Attachment :
					</span><br />
					<div *ngIf="attachmentList.length > 0">
						<div *ngFor="let attachment of attachmentList" (click)="downloadAttach(attachment)">
							<span ion-text text-wrap color='dark' class="font2"
								color="primary">{{ subStrAttachment(attachment) }}</span> <br>
						</div>
					</div>
					<div *ngIf="attachmentList.length == 0">
						<span ion-text text-wrap color='dark' class="font2" color="primary">
							-
						</span>
					</div>
				</ion-item>

			</ion-card>

			<ion-grid no-padding fixed>

				<ion-row>
					<ion-col col-12>
						<ion-list>
							<ion-item *ngIf="messageDetail['Jenis Surat'] == 'Surat Perintah'" padding-left
								padding-right text-wrap>
								<span ion-text text-wrap class="font2" style="color:black;"><b>Dasar</b></span>
							</ion-item>

							<ion-item *ngIf="messageDetail['Jenis Surat'] == 'Surat Perintah'" padding-left
								padding-right text-wrap>
								<div [innerHTML]="dasarSuratPerintah"></div>
							</ion-item>

							<ion-item *ngIf="messageDetail['Jenis Surat'] == 'Surat Perintah'" padding-left
								padding-right text-wrap>
								<span ion-text text-wrap class="font2" style="color:black;"><b>Perintah</b></span>
							</ion-item>

							<ion-item *ngIf="messageDetail['Jenis Surat'] == 'Surat Perintah'" padding-left
								padding-right text-wrap>
								<div [innerHTML]="isiPerintah"></div>

							</ion-item>

							<ion-item *ngIf="messageDetail['Jenis Surat'] != 'Surat Perintah'" padding-left
								padding-right margin-bottom text-wrap>
								<div [innerHTML]="messageDetail['Isi Surat']"></div>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>

				<ion-row
					*ngIf="!isLoading && isAtasan && messageDetail['Status Surat'] == 'LIHAT SURAT' && from_modul != 'sppd'">
					<ion-col col-12>
						<ion-list>
							<ion-item no-lines padding-left padding-right no-margin>
								<ion-row class="my-col">
									<ion-col col-6 align-self-start><b ion-text color="dark" class="font2">Disposisi
											Jabatan</b> </ion-col>
									<ion-col col-6 align-self-center padding-right (click)="showDisposisi('jabatan')">
										<ion-icon name="add" color="primary" class="plus" float-right></ion-icon>
									</ion-col>
								</ion-row>
								<div *ngIf="disposisiJabatanList != null">
									<ion-row class="my-col" *ngFor="let disposisiJabatan of disposisiJabatanList">
										<ion-col align-self-start text-wrap>
											<p ion-text color="primary">{{ disposisiJabatan['nama_jabatan'] }} |
												{{ disposisiJabatan['nama'] }}</p>
										</ion-col>
										<ion-col col-6 align-self-center padding-right>
											<ion-icon name="md-close" color="danger" class="del-disposisi"
												(click)="delete(disposisiJabatan,'jabatan')" float-right></ion-icon>
										</ion-col>
									</ion-row>
								</div>
							</ion-item>
							<ion-item no-lines padding-left padding-right no-margin>
								<ion-row class="my-col">
									<ion-col col-6 align-self-start><b ion-text color="dark" class="font2">Disposisi
											Pekerja</b> </ion-col>
									<ion-col col-6 align-self-center padding-right (click)="showDisposisi('pekerja')">
										<ion-icon name="add" color="danger" class="plus" float-right></ion-icon>
									</ion-col>
								</ion-row>
								<div *ngIf="disposisiPekerjaList != null">
									<ion-row class="my-col" *ngFor="let disposisiPekerja of disposisiPekerjaList">
										<ion-col align-self-start text-wrap>
											<p ion-text color="primary">{{ disposisiPekerja['nama'] }} |
												{{ disposisiPekerja['nipp'] }} | {{
														disposisiPekerja['nama_jabatan'] }}</p>
										</ion-col>
										<ion-col col-6 align-self-center padding-right>
											<ion-icon name="md-close" color="danger" class="del-disposisi"
												(click)="delete(disposisiPekerja,'pekerja')" float-right></ion-icon>
										</ion-col>
									</ion-row>
								</div>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid
				*ngIf="isAtasan && messageDetail['Status Surat'].includes('LIHAT SURAT')  && from_modul != 'sppd' ">
				<ion-row>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block color="danger"
							(click)="cancel()">
							<ion-icon name="md-close"></ion-icon>
							Batal
						</button>
					</ion-col>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block (click)="sendDisposisi()"
							color="primary"
							[disabled]="(disposisiJabatanList.length == 0 && disposisiPekerjaList.length == 0) ? true : false">
							<ion-icon name="md-checkmark"></ion-icon>
							Disposisi
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>

			<!-- -------------------------------------- PESERTA SPPD -------------------------------------------------------------- -->

			<div *ngIf="messageDetail['Kode Jenis Surat'] == 'nd_sppd'">


				<ion-item no-padding margin-left margin-right no-lines>
					<span ion-text text-wrap class="font2">
						<b>Peserta SPPD</b>
					</span> <br>

					<div *ngIf='pesertaSppdList.length > 0'>
						<table width="95%">
							<tr *ngFor="let peserta of pesertaSppdList;let i = index">
								<td valign="top" width="10%">{{i+1}}. </td>
								<td valign="top">
									<span ion-text text-wrap color='dark' class="font2">
										{{ peserta['NAMA'] }}
									</span>
								</td>
							</tr>
						</table>
					</div>

					<div *ngIf="pesertaSppdList.length == 0">
						<span ion-text text-wrap color='color4' class="font2">
							tidak ada peserta SPPD
						</span>
					</div>

					<!-- <div *ngIf="attrScanSppd.length > 0 && from_modul == 'sppd'">						 -->
					<div *ngIf="messageData['KD_STATUS'] == '7' && from_modul == 'sppd'">
						<ion-grid>
							<ion-row>
								<ion-col col-12>
									<button style="border-radius:5px;" icon-start ion-button block
										(click)="goToPertanggungjawaban()" color="primary">
										<ion-icon name="md-checkmark"></ion-icon>
										Pertanggungjawabkan
									</button>
								</ion-col>
							</ion-row>
						</ion-grid>
					</div>

					<div *ngIf="messageData['KD_STATUS'] == '9' && from_modul == 'sppd'">
						<ion-grid>
							<ion-row>
								<ion-col col-12>
									<button style="border-radius:5px;" icon-start ion-button block
										(click)="goToPertanggungjawaban()" color="primary">
										<ion-icon name="md-checkmark"></ion-icon>
										Upload Ulang Pertanggungjawabkan
									</button>
								</ion-col>
							</ion-row>
						</ion-grid>
					</div>



				</ion-item>






			</div>

			<!-- -------------------------------------- PESERTA SPPD -------------------------------------------------------------- -->

			<ion-grid *ngIf="messageDetail['Status Surat'].includes('PERIKSA')  && from_modul != 'sppd' ">
				<ion-row>
					<ion-col col-12>
						<div class="appForm">
							<ion-list>
								<ion-item>
									<span item-left>
										<img src="assets/imgs/logo/alasan.png" class="icons">
									</span>
									<ion-label stacked>Komentar</ion-label>
									<ion-input type="text" [(ngModel)]="keterangan" placeholder="" clearInput>
									</ion-input>
								</ion-item>
							</ion-list>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block color="danger"
							(click)="doPeriksa('decline')">
							<ion-icon name="md-close"></ion-icon>
							Decline
						</button>
					</ion-col>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block (click)="doPeriksa('approve')"
							color="primary">
							<ion-icon name="md-checkmark"></ion-icon>
							Approve
						</button>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<button style="border-radius:5px;" icon-start ion-button block (click)="doPeriksa('kembalikan')"
							color="primary">
							<ion-icon name="md-refresh"></ion-icon>
							Kembalikan
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<div *ngIf="messageDetail['Kode Jenis Surat'] == 'permohonan'">
			<ion-card class="header-card">
				<ion-card-content>
					<span ion-text text-wrap class="font-header">
						<b>{{ messageDetail['Judul Surat'] }}</b>
					</span>
				</ion-card-content>
			</ion-card>

			<ion-card class="my-card">
				<ion-item>
					<span ion-text text-wrap class="font-mini" color="color4">
						Tanggal Pengajuan
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Tanggal Pengajuan'] }}
					</span><br>

					<span ion-text text-wrap class="font-mini" color="color4">
						Jenis Pengajuan
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Jenis Pengajuan'] }}
					</span>
					<br>

					<span ion-text text-wrap class="font-mini" color="color4">
						tanggal Cuti/Izin
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Tanggal Mulai Cuti'] }}
					</span> <span ion-text text-wrap class="font-small" color="primary"> s/d </span>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Tanggal Selesai Cuti'] }}
					</span>
					<br>

					<span ion-text text-wrap class="font-mini" color="color4">
						Alamat Selama Cuti/Izin
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Alamat Cuti'] }}
					</span>
					<br>

					<span ion-text text-wrap class="font-mini" color="color4">
						Alasan
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Alasan'] }}
					</span>
					<br>
				</ion-item>
			</ion-card>

			<ion-card class="my-card">
				<ion-item>
					<div class="header-text">
						<span ion-text text-wrap>
							<img src="assets/imgs/logo/nipp.png" class="icons">
						</span>
						<span ion-text text-wrap class="font-small">
							<b>Biodata Pemohon</b>
						</span>
					</div>
					<div class="garis"></div>
					<span ion-text text-wrap class="font-mini" color="color4">
						NIPP
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['NIPP Pemohon'] }}
					</span><br>

					<span ion-text text-wrap class="font-mini" color="color4">
						Nama
					</span><br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Nama Pemohon'] }}
					</span>
					<br>

					<span ion-text text-wrap class="font-mini" color="color4">
						Menyetujui
					</span><br>
					<span ion-text text-wrap class="font-small" color="primary">
						<b>{{ messageDetail['NIPP Menyetujui'] }}</b>
					</span> <br>
					<span ion-text text-wrap class="font-small">
						{{ messageDetail['Nama Menyetujui'] }} |
						{{ messageDetail['Jabatan Menyetujui'] }}
					</span>
					<br>

					<span ion-text text-wrap class="font-mini" color="color4">
						Mengetahui
					</span><br>
					<span *ngIf="messageDetail['NIPP Mengetahui'] == '' || messageDetail['NIPP Mengetahui'] == null"
						ion-text text-wrap class="font-small" color="primary">
						-
					</span>
					<span *ngIf="messageDetail['NIPP Mengetahui'] != '' || messageDetail['NIPP Mengetahui'] != null"
						ion-text text-wrap class="font-small" color="primary">
						<b>{{ messageDetail['NIPP Mengetahui'] }}</b>
					</span> <br>
					<span *ngIf="messageDetail['Nama Mengetahui'] != '' || messageDetail['Nama Mengetahui'] != null"
						ion-text text-wrap class="font-small">
						{{ messageDetail['Nama Mengetahui'] }} |
						{{ messageDetail['Jabatan Mengetahui'] }}
					</span>
				</ion-item>
			</ion-card>

			<ion-list
				*ngIf="!isLoading && isAtasan && messageDetail['Kode Status Surat'] == '4' && from_modul != 'sppd'">
				<ion-item no-lines padding-left padding-right no-margin>
					<ion-row class="my-col">
						<ion-col col-6 align-self-start><b ion-text color="dark" class="font2">Disposisi
								Jabatan</b> </ion-col>
						<ion-col col-6 align-self-center padding-right (click)="showDisposisi('jabatan')">
							<ion-icon name="add" color="primary" class="plus" float-right></ion-icon>
						</ion-col>
					</ion-row>
					<div *ngIf="disposisiJabatanList != null">
						<ion-row class="my-col" *ngFor="let disposisiJabatan of disposisiJabatanList">
							<ion-col align-self-start text-wrap>
								<p ion-text color="primary">{{ disposisiJabatan['nama_jabatan'] }} |
									{{ disposisiJabatan['nama'] }}</p>
							</ion-col>
							<ion-col col-6 align-self-center padding-right>
								<ion-icon name="md-close" color="danger" class="del-disposisi"
									(click)="delete(disposisiJabatan,'jabatan')" float-right></ion-icon>
							</ion-col>
						</ion-row>
					</div>
				</ion-item>
				<ion-item no-lines padding-left padding-right no-margin>
					<ion-row class="my-col">
						<ion-col col-6 align-self-start><b ion-text color="dark" class="font2">Disposisi
								Pekerja</b> </ion-col>
						<ion-col col-6 align-self-center padding-right (click)="showDisposisi('pekerja')">
							<ion-icon name="add" color="danger" class="plus" float-right></ion-icon>
						</ion-col>
					</ion-row>
					<div *ngIf="disposisiPekerjaList != null">
						<ion-row class="my-col" *ngFor="let disposisiPekerja of disposisiPekerjaList">
							<ion-col align-self-start text-wrap>
								<p ion-text color="primary">{{ disposisiPekerja['nama'] }} |
									{{ disposisiPekerja['nipp'] }} | {{
											disposisiPekerja['nama_jabatan'] }}</p>
							</ion-col>
							<ion-col col-6 align-self-center padding-right>
								<ion-icon name="md-close" color="danger" class="del-disposisi"
									(click)="delete(disposisiPekerja,'pekerja')" float-right></ion-icon>
							</ion-col>
						</ion-row>
					</div>
				</ion-item>
			</ion-list>

			<ion-grid
				*ngIf="isAtasan && messageDetail['Kode Status Surat'] == '4'  && from_modul != 'sppd' ">
				<ion-row>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block color="danger"
							(click)="cancel()">
							<ion-icon name="md-close"></ion-icon>
							Batal
						</button>
					</ion-col>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block (click)="sendDisposisi()"
							color="primary"
							[disabled]="(disposisiJabatanList.length == 0 && disposisiPekerjaList.length == 0) ? true : false">
							<ion-icon name="md-checkmark"></ion-icon>
							Disposisi
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid *ngIf="isAtasan && messageDetail['Kode Status Surat'] == '2'">
				<ion-row>
					<ion-col col-12>
						<div class="appForm">
							<ion-list>
								<ion-item>
									<span item-left>
										<img src="assets/imgs/logo/alasan.png" class="icons">
									</span>
									<ion-label stacked>Komentar</ion-label>
									<ion-input type="text" [(ngModel)]="keterangan" placeholder="" clearInput>
									</ion-input>
								</ion-item>
							</ion-list>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block color="danger"
							(click)="doPeriksa('decline')">
							<ion-icon name="md-close"></ion-icon>
							Ditangguhkan
						</button>
					</ion-col>
					<ion-col col-6>
						<button style="border-radius:5px;" icon-start ion-button block (click)="doPeriksa('approve')"
							color="primary">
							<ion-icon name="md-checkmark"></ion-icon>
							Setujui
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>



	</div>

</ion-content>