<!--
  Generated template for the UpdateUserdataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>
            <span ion-text color="light">Pengajuan Cuti/Izin</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="cancel()">
                <ion-icon name="ios-close-outline" style="color:#FFF"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item>
        <span item-left>
            <img src="assets/imgs/menu-icon/jenis_cuti.png" class="icons">
        </span>
        <ion-label stacked>Jenis Pengajuan</ion-label>
        <ion-select [(ngModel)]="selectValue" placeholder="" (ionChange)="onChangePengajuan()">
            <!-- <ion-option value="Izin">Izin</ion-option>            
            <ion-option value="Izin Tidak Memotong Cuti">Izin Tidak Memotong Cuti</ion-option>            
            <ion-option value="Cuti Tahunan">Cuti Tahunan</ion-option>
            <ion-option value="Cuti Besar">Cuti Besar</ion-option>
            <ion-option value="Cuti Sakit">Cuti Sakit</ion-option>
            <ion-option value="Cuti Bersalin">Cuti Bersalin dan Gugur Kandungan</ion-option>
            <ion-option value="Cuti Penting">Cuti Karena Alasan Penting</ion-option>
            <ion-option value="Cuti Diluar">Cuti Diluar Tanggungan Perusahaan</ion-option>        
            <ion-option value="Cuti Massal">Cuti Massal / Cuti Bersama</ion-option>        
            <ion-option value="Masa Haid">Cuti Haid</ion-option> -->
            <div *ngIf="jenisPengajuanList.length > 0">
                <ion-option *ngFor="let jn_cuti of jenisPengajuanList; let i = index" value="{{ jn_cuti['ID'] }}">
                    {{ jn_cuti['JN_PENGAJUAN'] }}</ion-option>
            </div>
        </ion-select>
    </ion-item>

    <div>
        <ion-item style="width:70%; float: left;">
            <span item-left>
                <img src="assets/imgs/menu-icon/start_date.png" class="icons">
            </span>
            <ion-label stacked>Tanggal Mulai</ion-label>
            <ion-input type="text" [readonly]="true" (ionFocus)="checkFocus(1)" (click)="checkFocus(1)"
                [(ngModel)]="tanggalMulai"></ion-input>
        </ion-item>

        <ion-item style="width:30%; float:right;padding-top:14px;padding-left:3px !important;">
            <ion-select [(ngModel)]="jamMulai" placeholder="" style="max-width:100%;">
                <ion-option value="23">7:00</ion-option>
                <ion-option value="24">19:00</ion-option>
                <ion-option value="1">0:00</ion-option>
                <ion-option value="2">8:00</ion-option>
                <ion-option value="3">8:30</ion-option>
                <ion-option value="4">9:00</ion-option>
                <ion-option value="5">9:30</ion-option>
                <ion-option value="6">10:00</ion-option>
                <ion-option value="7">10:30</ion-option>
                <ion-option value="8">11:00</ion-option>
                <ion-option value="9">11:30</ion-option>
                <ion-option value="10">12:00</ion-option>
                <ion-option value="11">12:30</ion-option>
                <ion-option value="12">13:00</ion-option>
                <ion-option value="13">13:30</ion-option>
                <ion-option value="14">14:00</ion-option>
                <ion-option value="15">14:30</ion-option>
                <ion-option value="16">15:00</ion-option>
                <ion-option value="17">15:30</ion-option>
                <ion-option value="18">16:00</ion-option>
                <ion-option value="19">16:30</ion-option>
                <ion-option value="20">17:00</ion-option>
                <ion-option value="21">17:30</ion-option>
                <ion-option value="22">18.00</ion-option>
                <ion-option value="25">20:00</ion-option>
                <ion-option value="26">6:00</ion-option>
                <ion-option value="28">7:30</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div>
        <ion-item style="width:70%; float: left;">
            <span item-left>
                <img src="assets/imgs/menu-icon/end_date.png" class="icons">
            </span>
            <ion-label stacked>Tanggal Selesai</ion-label>
            <!-- <ion-input type="text" [readonly]="true" (ionFocus)="checkFocus(2)" [(ngModel)]="tanggalSelesai"> -->
            <ion-input type="text" [readonly]="true" (click)="checkFocus(2)" (ionFocus)="checkFocus(2)"
                [(ngModel)]="tanggalSelesai">
            </ion-input>
        </ion-item>

        <ion-item style="width:30%; float:right;padding-top:14px;padding-left:3px !important;">
            <ion-select [(ngModel)]="jamSelesai" placeholder="" style="max-width:100%;">
                <ion-option value="23">7:30</ion-option>
                <ion-option value="24">20:00</ion-option>
                <ion-option value="1">8:00</ion-option>
                <ion-option value="2">8:30</ion-option>
                <ion-option value="3">9:00</ion-option>
                <ion-option value="4">9:30</ion-option>
                <ion-option value="5">10:00</ion-option>
                <ion-option value="6">10:30</ion-option>
                <ion-option value="7">11:00</ion-option>
                <ion-option value="8">11:30</ion-option>
                <ion-option value="9">12:00</ion-option>
                <ion-option value="10">12:30</ion-option>
                <ion-option value="11">13:00</ion-option>
                <ion-option value="12">13:30</ion-option>
                <ion-option value="13">14:00</ion-option>
                <ion-option value="14">14:30</ion-option>
                <ion-option value="15">15:00</ion-option>
                <ion-option value="16">15:30</ion-option>
                <ion-option value="17">16:00</ion-option>
                <ion-option value="18">16:30</ion-option>
                <ion-option value="19">17:00</ion-option>
                <ion-option value="20">17:30</ion-option>
                <ion-option value="21">18:00</ion-option>
                <ion-option value="22">19.00</ion-option>
                <ion-option value="25">22:00</ion-option>
                <ion-option value="26">7:00</ion-option>
                <ion-option value="28">8:00</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div *ngIf="tanggalSelesai != ''">
        <ion-item>
            <span item-left>
                <img src="assets/imgs/menu-icon/jumHari.png" class="icons">
            </span>
            <ion-label stacked>Jumlah Hari</ion-label>
            <ion-input type="number" [(ngModel)]="jumHari"></ion-input>
        </ion-item>

        <p ion-text text-wrap color="color4" style="padding-left:8px !important;">*Bila terdapat kesalahan jumlah hari
            silahkan disesuaikan</p>
        <p ion-text text-wrap color="danger" style="padding-left:8px !important;">Sisa Cuti Tahun ini :
            <b>{{ userdataTPK['data']['SISA_CUTI'] }}</b></p>
        <p ion-text text-wrap color="danger" style="padding-left:8px !important;">Sisa Cuti Tahun lalu :
            <b>{{ userdataTPK['data']['SISA_CUTI_LAST_YEAR'] }}</b></p>
    </div>

    <ion-item *ngIf="showLastYear == true" no-lines>
        <span item-left>
            <img src="assets/imgs/menu-icon/cuti.png" class="icons">
        </span>
        <div style="position: relative; width: 100%;">
            <span ion-text="" style="color: #959595;font-size: 1.2rem;">Ambil Sisa Cuti Tahun Lalu</span>

            <div style="margin-top: 10px">
                <label class="radio-button">
                    <input type="radio" [(ngModel)]="ambilSisaCuti" id="ambilSisaCutiYes" name="ambilSisaCuti"
                        value="YA" checked />
                    <!-- <label for="WFH">WFH (Work From Home)</label> -->
                    <span class="label-visible">
                        <span class="fake-radiobutton"></span>
                        Ya
                    </span>
                </label>
            </div>
            <div style="margin-top: 15px">
                <label class="radio-button">
                    <input type="radio" [(ngModel)]="ambilSisaCuti" id="ambilSisaCutiNo" name="ambilSisaCuti"
                        value="TIDAK" />
                    <!-- <label for="WFC">WFC (Work From Client)</label> -->
                    <span class="label-visible">
                        <span class="fake-radiobutton"></span>
                        Tidak
                    </span>
                </label>
            </div>
        </div>
    </ion-item>

    <ion-item>
        <span item-left>
            <img src="assets/imgs/menu-icon/alamat.png" class="icons">
        </span>
        <ion-label stacked>Alamat Selama Cuti</ion-label>
        <ion-textarea rows="3" [(ngModel)]="alamat"></ion-textarea>
    </ion-item>

    <ion-item>
        <span item-left>
            <img src="assets/imgs/menu-icon/alasan.png" class="icons">
        </span>
        <ion-label stacked>Alasan</ion-label>
        <ion-input type="text" [(ngModel)]="alasan"></ion-input>
    </ion-item>

    <!-- <ion-item *ngIf="jenisPengajuan == 'Cuti Penting'">
        <span item-left>
            <img src="assets/imgs/menu-icon/alasan.png" class="icons">
        </span>
        <ion-label stacked>Alasan</ion-label>
        <ion-select [(ngModel)]="alasan" placeholder="">
            <ion-option value="Keluarga sakit keras atau meninggal dunia">Keluarga sakit keras atau meninggal dunia</ion-option>
            <ion-option value="Mengurus harta warisan">Mengurus harta warisan</ion-option>
            <ion-option value="Melangsungkan perkawinan yang pertama">Melangsungkan perkawinan yang pertama</ion-option>
            <ion-option value="Melaksanakan Ibadah Haji ke Tanah Suci">Melaksanakan Ibadah Haji ke Tanah Suci</ion-option>
            <ion-option value="Melaksanakan Ibadah Umroh">Melaksanakan Ibadah Umroh</ion-option>
            <ion-option value="Lainnya yang ditetapkan perusahaan">Lainnya yang ditetapkan perusahaan</ion-option>
        </ion-select>
    </ion-item>

    <ion-item *ngIf="jenisPengajuan == 'Izin Tidak Memotong Cuti'">
        <span item-left>
            <img src="assets/imgs/menu-icon/alasan.png" class="icons">
        </span>
        <ion-label stacked>Alasan</ion-label>
        <ion-select [(ngModel)]="alasan" placeholder="">
            <ion-option value="Khitanan anak">Khitanan anak</ion-option>
            <ion-option value="Pernikahan anak">Pernikahan anak</ion-option>
            <ion-option value="Pekerja pindah rumah">Pekerja pindah rumah</ion-option>
            <ion-option value="Istri pekerja melahirkan atau keguguran">Istri pekerja melahirkan atau keguguran</ion-option>            
        </ion-select>
    </ion-item>

    <ion-item *ngIf="jenisPengajuan == 'Cuti Bersalin'">
        <span item-left>
            <img src="assets/imgs/menu-icon/alasan.png" class="icons">
        </span>
        <ion-label stacked>Alasan</ion-label>
        <ion-select [(ngModel)]="alasan" placeholder="">
            <ion-option value="Cuti bersalin">Cuti bersalin</ion-option>
            <ion-option value="Cuti gugur kandungan">Cuti gugur kandungan</ion-option>            
        </ion-select>
    </ion-item> -->
    <p ion-text text-wrap color="danger" style="padding-left:8px !important;">{{errorMsg}}</p>
    <br>
    <div class="row">
        <div class="col">
            <button ion-button full icon-start color="danger" style="border-radius: 5px;" (click)="cancel()">
                <ion-icon name="close"></ion-icon>
                Batal
            </button>
        </div>
        <div class="col">
            <button ion-button full icon-end style="border-radius: 5px;" [disabled]='disable' (click)="doInsert()">
                Ajukan
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>