page-menu-absen {
    .header {
        // background-color: color($colors,orange);
        font-size: 1.7rem !important;
        padding-top: 8px !important;
        padding-bottom: 4px !important;
        border-bottom: 1px solid lightgray;
        margin-bottom: 4px;
        color: color($colors, color6);        
    }
}
