<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!isSearch">
      <span ion-text color="light" class="fw500">Arsip Personal</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="showModal('SearchArsipPage')">
        <ion-icon style="font-size:2.4rem;" name="ios-options-outline" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid *ngIf="isEmptyObject(messages[0])  && isLoading == false" fixed>
    <ion-row>
      <ion-col col-12>
        <ion-card class="primary-bg">
          <ion-card-content>
            <span style="font-size:1.3rem">Tidak Ada Arsip.</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf='!isEmptyObject(messages[0])'>
    <ion-card *ngFor='let message of messages' class="my-card" >
      <ion-item-sliding>
        <ion-item (click)="goToDetail(message)">
          <span [ngClass]="{'fw700': !message['IsBaca']}" item-start>
            <ion-icon name="mail" color="orange" class="msg-icon" *ngIf="message['IsBaca'] == '0'"></ion-icon>
            <ion-icon name="mail-open" class="msg-icon" color="orange" *ngIf="message['IsBaca'] == '1'">
            </ion-icon>
          </span>
          <span ion-text text-wrap class="font-header">
            <b>{{message.No_Surat}}</b>
          </span><br>

          <span ion-text text-wrap class="font-small">
            {{message.Dari}}
          </span><br>
          <span color="gray" ion-text text-wrap class="font-mini">
            {{message['Perihal'].substring(0,80) }}
            <span *ngIf="message['Perihal'].length > 80"> ... </span>
          </span><br>
          <span ion-text text-wrap class="font-mini" color="primary">
            {{message.Tanggal_Surat}}
          </span>
          <span item-end>
            <span color="primary" ion-text text-wrap class="font-mini">
              {{message.Status}}
            </span>
          </span>
        </ion-item>
        <ion-item-options side="end" (click)="doKembalikan(message)">
          <button ion-button color="primary" style="text-transform: none !important;">
            <ion-icon name="ios-redo"></ion-icon>
            Kembalikan
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

  <ion-list *ngIf='isEmptyObject(messages[0]) && isLoading == true'>
    <ion-card *ngFor='let fake of fakeUsers'>
      <ion-item>
        <h2 class="animate-skeleton-background"></h2>
        <h3 class="animate-skeleton-background"></h3>
        <p class="animate-skeleton-background"> </p>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>