page-arsip {
    ion-label {
        white-space: normal;
    }

    .msg-icon {
        padding:10px;
		font-size:25px !important;
    }

    .font{
		font-size:1.3rem;
	} 
	
	.font2{
		font-size:1.4rem;
	}
	
	.bold{
		font-weight:500;
    }
    
    .item-periksa {
        background-color: whitesmoke;
    }

    ion-badge {
        font-size: 1.1rem !important;
    }

    .card-md {
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        box-shadow: none !important;
      }
      
      // .header .toolbar .bar-button .icon {
      //   color: color($colors, color5);
      // }
    
        .font-mini {
            font-size: 1.2rem;
        }
    
        .font-small {
            font-size: 1.3rem;
            color: gray;
        }
        
        .font-header {
            // color: color($colors, red);
            font-size: 1.3rem;            
            color: black;
        }
    
        h2, h3, p {
            background-color: lightgrey;
            opacity: 0.6;
            height: 1em;
            margin-top: 10px;              
          }
         
          h2 {
            width: 40%;        
          }
         
          h3 {
            width: 80%;        
          } 
         
          p {
            width: 50%;        
          }
    
        .animate-skeleton-background {
            -webkit-animation: infinite bgcolorchange 4s;
            animation: 4s infinite bgcolorchange;
            opacity: 0.5;
            }
            
            @keyframes bgcolorchange {
            0% {
            color: #f2f2f2;
            }
            25% {
            background: lightgray;
            }
            50% {
            background: #f2f2f2;
            }
            75% {
            background: lightgray;
            }
            100% {
            background-color: #f2f2f2;
            }
            }
            
            @-webkit-keyframes bgcolorchange {
            0% {
            background: #f2f2f2;
            }
            25% {
            background: lightgray;
            }
            50% {
            background: #f2f2f2;
            }
            75% {
            background: lightgray;
            }
            100% {
            background: #f2f2f2;
        }
    }
}
