page-home {
    .toolbar-background {
        // background-image: linear-gradient(to bottom right, #FA6625, #FFC61A );     
        //background-image: linear-gradient(to right, #DE3037, #F45E36 ) !important; 
        background-image: linear-gradient(to bottom right, #6f87df, #61bce8) !important;   
        //background-image: linear-gradient(to bottom right, #D52054, #EB4D63 ) !important;   
      }

    .my-header {
        background-image: url(../../assets/imgs/home-bg.png);
        height: 20%;
        background-size: cover;
        width: 100%;        
        background-repeat: no-repeat;      
    }

    .my-title {
        text-align: center;        
        font-size: 1.7rem;
        font-weight: bold;
    }

    .img-container {
        // display: flex;    
        // justify-content: left;
    }

    .profile-container {
        display: flex;
        align-items:center;
        padding-right: 10px;
    }

    .my-img {
        width: 60px;
        margin: 10px;
        //position: absolute;
        //top: 10%;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 1px 1px 5px grey;       
    }

    .user-info {                
        text-align: left;              
    }

    .user-info-name {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .user-info-jab {
        font-size: 1.4rem;        
        color:gray;
    }
 
    .button-container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .setting-button {        
        background-image: linear-gradient(to right, #DE3037, #E64037, #F45E36 );                     
    }

    .col-left {
        border: 2px solid #F1F1F1;
        text-align: center;    
    }

    .col-right { 
        border-top: 2px solid #F1F1F1;
        border-bottom: 2px solid #F1F1F1;
        border-right: 2px solid #F1F1F1;
        text-align: center;
    }

    .container-menu-selfservice1-0 {
        background-color: #B552E3;
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    
    .container-menu-selfservice1-1 {
        background-color: #3192EC;
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    
    .container-menu-selfservice1-2 {
        background-color: #ED961B;        
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    
    .container-menu-selfservice1-3 {
        background-color: #34B08B;
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    .container-menu-selfservice2-0 {
        background-color: #335D64;
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    
    .container-menu-selfservice2-1 {
        background-color: #FEBB10;
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    
    .container-menu-selfservice2-2 {
        background-color: #E5615C;
        padding:10px 5px;
        margin:3px;
        text-align: center;        
        border-radius:20px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }

    .container-menu {
        background-color: #fff;
        padding:15px 5px;
        margin:3px;
        text-align: center;
        // box-shadow:#D6D6D6 1px 3px 8px 0px;
        border: 1px solid lightgray;
        border-radius:10px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }    

    .container-menu-2 {
        // background-image: linear-gradient(to right, #BB8AFF, #01FFFD);
        //background-image: url(../../assets/imgs/menu-icon/card-bg.png);
        background-image: linear-gradient(to right, #F8AC61, #E99E63);
        background-size: cover;        
        background-repeat: no-repeat;      
        opacity: 0.85;
        padding:10px 5px;
        margin:3px;
        text-align: center;
        // box-shadow:#D6D6D6 1px 3px 8px 0px;        
        border-radius:15px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }    

    .container-menu-3 {
        // background-image: linear-gradient(to right, #BB8AFF, #01FFFD);
        //background-image: url(../../assets/imgs/menu-icon/card-bg.png);
        background-image: linear-gradient(to right, #EB5873, #E9637D);
        background-size: cover;        
        background-repeat: no-repeat;      
        opacity: 0.85;
        padding:10px 5px;
        margin:3px;
        text-align: center;
        // box-shadow:#D6D6D6 1px 3px 8px 0px;        
        border-radius:15px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }    

    .container-menu-4 {
        // background-image: linear-gradient(to right, #BB8AFF, #01FFFD);
        //background-image: url(../../assets/imgs/menu-icon/card-bg.png);
        //background-image: linear-gradient(to right, #9581F4, #BF7AF5);
        //background-color: #BBBBF1;
        background-image: linear-gradient(to right, #E64037, #F45E36 ); 
        background-size: cover;        
        background-repeat: no-repeat;      
        opacity: 0.85;
        padding:10px 5px;
        margin:3px;
        text-align: center;
        // box-shadow:#D6D6D6 1px 3px 8px 0px;        
        border-radius:15px;
        p{
            margin:0px;
            font-size: 1.2rem;
            color:#000;
        }
    }    

    
    

    .my-card {
        border-radius: 8px;
        //border: 1px solid #e6e6e6;
        box-shadow: none !important;        
        margin-bottom: 10px;     

        .item-md {
            background-image: linear-gradient(to right, #AD74FF, #5FB4FA);
            color: white;
            // text-align: center;
        }
    
        .item-ios {
            background-image: linear-gradient(to right, #AD74FF, #5FB4FA);
            color: white;
            // text-align: center;
        }
    }

    .my-card-2 {
        border-radius: 8px;
        //border: 1px solid #e6e6e6;
        box-shadow: none !important;        
        margin-bottom: 25px;     
        margin-top: 25px;     

        .item-md {
            background-image: linear-gradient(to right, #FF5F9B, #FFAD68);
            color: white;
            // text-align: center;
        }
    
        .item-ios {
            background-image: linear-gradient(to right, #FF5F9B, #FFAD68);
            color: white;
            // text-align: center;
        }
    }

    .font-mini {
        font-size: 1.2rem;
    }

    .font-small {
        font-size: 1.4rem;
        color: white; 
    }

    ion-slides {        
        // height: 160px;
        height: auto !important;
    }   

    ion-slide.swiper-slide {
        align-items: flex-start;
        padding-bottom: 15px;
    } 

    .agenda-title-container {
        // text-align:center;
        margin-top:15px; 
        padding-left: 10px;       
    }

    

    .menu-parent {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .swiper-pagination {
        bottom: 0px !important;
    }
}
