page-search-restitusi {
	.icons{
		height:23px;
		margin:8px;
	}
	
	.divs{
		padding:10px;
	} 
	
	.icon2{
		height:20px;
		margin:10px;
	} 
	
	.font{
		font-size:1.3rem;
	} 
	
	.font2{
		font-size:1.4rem;
	}
	
	.bold{
		font-weight:500;
    }
	
	.button{
		border-radius:5px;
		height:3.2em;
		background-color:#f6811e !important;
		color:#fff !important;
	}

	.item.item-block.item-select .select-text {
		text-align: left !important;
	}
}
