page-search-inbox {
	.icons{
		height:23px;
		margin:8px;
	}	

	ion-label {
        white-space: normal;
    }

    .msg-icon {
        padding:10px;
		font-size:25px !important;
    }

    .font{
		font-size:1.3rem;
    } 
    
    .font2{
      font-size:1.4rem;
    }
    
    .bold{
      font-weight:500;
    }
      
    .item-belum-baca {
        background-color: whitesmoke;
    }

    ion-badge {
        font-size: 1.1rem !important;
    }

    .card-md {
      border-radius: 4px;
      border-left: 4px solid mediumpurple !important;
      border: 1px solid #e6e6e6;
      box-shadow: none !important;
    }

    .item-periksa {
      background-color: whitesmoke;
    }
        
    // .header .toolbar .bar-button .icon {
    //   color: color($colors, color5);
    // }
      
    .font-mini {
        font-size: 1.2rem;
    }

    .font-small {
        font-size: 1.3rem;        
    }
    
    .font-header {
        // color: color($colors, red);
        font-size: 1.3rem;            
        color: black;
    }      
}
