<!--
  Generated template for the CveditEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span ion-text color="light" class="fw500">Tambahkan</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="ios-close-outline" style="color:#FFF"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="my-padding" *ngIf="kat == 'panggilandarurat';">
    <span>Informasi Panggilan Darurat</span>
    <ion-item no-padding>
      <ion-label stacked>No. Darurat</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="noDarurat"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Nama Darurat</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="namaDarurat"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Status Hubungan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="hubunganDarurat"></ion-input>
    </ion-item>

    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top
          (click)="submit('emergency')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'pendidikanformal';">
    <ion-item no-padding>
      <ion-label stacked>Tingkat Pendidikan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="tingkatPendidikan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Nama Sekolah</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="namaSekolah"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Jurusan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="jurusan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Tahun Lulus</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="tahunLulus"></ion-input>
    </ion-item>
    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top
          (click)="submit('pend_formal')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'pekerjaan'">
    <ion-item no-padding>
      <ion-label stacked>Jabatan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="jabatanPekerjaan"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Nama Perusahaan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="namaPerusahaan"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Lama Kerja</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="lamaKerja"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Prestasi</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="prestasi"></ion-input>
    </ion-item>

    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top margin-top
          (click)="submit('pekerjaan')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'assigmenthistory'">
    <ion-item no-padding>
      <ion-label stacked>Posisi Jabatan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="posisiJabatan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>No SK</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="noSK"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Tanggal Mulai Jabatan</ion-label>
      <ion-input type="text" [readonly]="true" (click)="showDatePicker(1)" (ionFocus)="checkFocus(1)" placeholder=""
        [(ngModel)]="tglMulaiJab"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>Tanggal Akhir Jabatan</ion-label>
      <ion-input type="text" [readonly]="true" (click)="showDatePicker(2)" (ionFocus)="checkFocus(2)" placeholder=""
        [(ngModel)]="tglAkhirJab"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label stacked>lama Jabatan</ion-label>
      <ion-input type="text" [readonly]="true" placeholder="" [(ngModel)]="lamaJabatan"></ion-input>
    </ion-item>

    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top
          (click)="submit('assigmenthistory')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'kesehatan'">
    <ion-item no-padding>
      <ion-label stacked>Tanggal MCU</ion-label>
      <ion-input type="text" [readonly]="true"  (click)="showDatePicker(3)" (ionFocus)="checkFocus(3)" placeholder="" [(ngModel)]="tglMCU">
      </ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Level Kesehatan</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="levelKesehatan"></ion-input>
    </ion-item>

    <br>

   
    <ion-card class="my-card">
      <ion-card-content>
        <div class="header-text">
          <span ion-text text-wrap class="font-small">
            <b>Upload Hasil MCU</b>
          </span>
        </div>
        <div class="garis"></div>
        <div *ngIf="data != null" (click)="downloadAtt(data['UPLOAD_HASIL_MCU'])">
          <span ion-text color="primary">{{ data['UPLOAD_HASIL_MCU'] }}</span>
        </div>
        <ion-item>
          <span item-left>
            <img src="assets/imgs/logo/document-icon.png" class="icons">
          </span>
          <ion-label stacked>Upload File</ion-label>
          <ion-select [(ngModel)]="fileType" cancelText="Cancel" okText="OK">
            <div>
              <ion-option value="file">File</ion-option>
              <ion-option value="gambar">Foto</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <div *ngIf="fileType == 'gambar'">
          <div class="image-container">
            <img (click)="takeImage(0,'1')" class="photo" src="{{ imageShow }}" />
            <span ion-text style="text-align:center;color:gray;">Upload Foto (png, jpg, jpeg)</span>
          </div>
        </div>
        <ion-item *ngIf="fileType == 'file'">
          <ion-label stacked>Upload File (docx, doc, xlxs, xls,xlsx, pdf)</ion-label>
          <ion-input type="text" [(ngModel)]="fileName" [readonly]="true" (ionFocus)="openChooser('1')"
            (click)="openChooser('1')" placeholder="pilih file"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top
          (click)="submit('kesehatan')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'pelatihanppi';">
    <ion-item no-padding>
      <ion-label stacked>Nama Pelatihan*</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="namaPelatihan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Tahun Pelatihan*</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="tahunPelatihan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Nama Penyelenggara*</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="namaPenyelenggara"></ion-input>
    </ion-item>
    <br>

    <ion-card class="my-card">
      <ion-card-content>
        <div class="header-text">
          <span ion-text text-wrap class="font-small">
            <b>Upload Bukti Serifikat</b>
          </span>
        </div>
        <div class="garis"></div>
        <ion-item>
          <span item-left>
            <img src="assets/imgs/logo/document-icon.png" class="icons">
          </span>
          <ion-label stacked>Upload File</ion-label>
          <ion-select [(ngModel)]="fileType2" cancelText="Cancel" okText="OK">
            <div>
              <ion-option value="file">File</ion-option>
              <ion-option value="gambar">Foto</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <div *ngIf="fileType2 == 'gambar'">
          <div class="image-container">
            <img (click)="takeImage(0,'2')" class="photo" src="{{ imageShow2 }}" />
            <span ion-text style="text-align:center;color:gray;">Upload Foto (png, jpg, jpeg)</span>
          </div>
        </div>
        <ion-item *ngIf="fileType2 == 'file'">
          <ion-label stacked>Upload File (docx, doc, xlxs, xls,xlsx, pdf)</ion-label>
          <ion-input type="text" [(ngModel)]="fileName2" [readonly]="true" (ionFocus)="openChooser('2')"
            (click)="openChooser('2')" placeholder="pilih file"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-item no-padding>
      <ion-label stacked>Evaluasi 1</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="evaluasi1"></ion-input>
    </ion-item>
    <br>

    <ion-card class="my-card">
      <ion-card-content>
        <div class="header-text">
          <span ion-text text-wrap class="font-small">
            <b>Upload Dokumen Evaluasi 1</b>
          </span>
        </div>
        <div class="garis"></div>
        <ion-item>
          <span item-left>
            <img src="assets/imgs/logo/document-icon.png" class="icons">
          </span>
          <ion-label stacked>Upload File</ion-label>
          <ion-select [(ngModel)]="fileType3" cancelText="Cancel" okText="OK">
            <div>
              <ion-option value="file">File</ion-option>
              <ion-option value="gambar">Foto</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <div *ngIf="fileType3 == 'gambar'">
          <div class="image-container">
            <img (click)="takeImage(0,'3')" class="photo" src="{{ imageShow3 }}" />
            <span ion-text style="text-align:center;color:gray;">Upload Foto (png, jpg, jpeg)</span>
          </div>
        </div>
        <ion-item *ngIf="fileType3 == 'file'">
          <ion-label stacked>Upload File (docx, doc, xlxs, xls,xlsx, pdf)</ion-label>
          <ion-input type="text" [(ngModel)]="fileName3" [readonly]="true" (ionFocus)="openChooser('3')"
            (click)="openChooser('3')" placeholder="pilih file"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-item no-padding>
      <ion-label stacked>Evaluasi 2</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="evaluasi2"></ion-input>
    </ion-item>
    <br>

    <ion-card class="my-card">
      <ion-card-content>
        <div class="header-text">
          <span ion-text text-wrap class="font-small">
            <b>Upload Dokumen Evaluasi 2</b>
          </span>
        </div>
        <div class="garis"></div>
        <ion-item>
          <span item-left>
            <img src="assets/imgs/logo/document-icon.png" class="icons">
          </span>
          <ion-label stacked>Upload File</ion-label>
          <ion-select [(ngModel)]="fileType4" cancelText="Cancel" okText="OK">
            <div>
              <ion-option value="file">File</ion-option>
              <ion-option value="gambar">Foto</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <div *ngIf="fileType4 == 'gambar'">
          <div class="image-container">
            <img (click)="takeImage(0,'4')" class="photo" src="{{ imageShow4 }}" />
            <span ion-text style="text-align:center;color:gray;">Upload Foto (png, jpg, jpeg)</span>
          </div>
        </div>
        <ion-item *ngIf="fileType4 == 'file'">
          <ion-label stacked>Upload File (docx, doc, xlxs, xls,xlsx, pdf)</ion-label>
          <ion-input type="text" [(ngModel)]="fileName4" [readonly]="true" (ionFocus)="openChooser('4')"
            (click)="openChooser('4')" placeholder="pilih file"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-item no-padding>
      <ion-label stacked>Harga Pelatihan*</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="hargaPelatihan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Lokasi*</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="lokasiPelatihan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Tanggal Pelatihan*</ion-label>
      <ion-input type="text" [readonly]="true" (click)="showDatePicker(5)" (ionFocus)="checkFocus(5)" placeholder="" [(ngModel)]="tglPelatihan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Keterangan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="ketPelatihan"></ion-input>
    </ion-item>
    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top (click)="submit('pelatihan')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'identitaskeluarga'">
    <ion-item no-padding>
      <ion-label stacked>Nama</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="namaKeluarga"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Tanggal Lahir</ion-label>
      <ion-input type="text" [readonly]="true" (click)="showDatePicker(4)" (ionFocus)="checkFocus(4)" placeholder="" [(ngModel)]="tglLahirKeluarga"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Hubungan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="hubKeluarga"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>NIK</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="nikKeluarga"></ion-input>
    </ion-item>
    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top (click)="submit('identitaskeluarga')">
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'rewardpunish'">
    <ion-item no-padding>
      <ion-label stacked>Deskripsi</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="deskripsiReward" ></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Tahun</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="tahunReward"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Jenis</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="jenisReward"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Instansi yang Mengeluarkan</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="instansiReward"></ion-input>
    </ion-item>
    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top (click)="submit('rewardpunish')" >
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="kat == 'performa'">
    <ion-item no-padding>
      <ion-label stacked>Nilai Kerja Tahunan</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="nilaiKerjaTahunan"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Kategori</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="kategoriPerformansi"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Tahun</ion-label>
      <ion-input type="number" placeholder="" [(ngModel)]="tahunPerformansi"></ion-input>
    </ion-item>
    <div class="row">
      <div class="col">
        <button ion-button icon-start full color="danger" style="border-radius: 5px" margin-top (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>
          Batal
        </button>
      </div>
      <div class="col">
        <button ion-button icon-start full color="primary" style="border-radius: 5px" margin-top (click)="submit('performa')" >
          <ion-icon name="ios-search"></ion-icon>
          Simpan
        </button>
      </div>
    </div>
  </div>
</ion-content>