<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span style="color:#FFF" *ngIf="fromPage == 'AbsenMobileDetailPage'" >Lokasi</span>
      <span style="color:#FFF" *ngIf="fromPage == 'FingerprintModalPage'" >Lokasi Anda</span>
    </ion-title> 
    <ion-buttons end style="padding-right: 5px">      
      <button ion-button (click)="insertAddress()">
        <ion-icon style="font-size: 2.4rem" name="ios-pin" color="light"></ion-icon>
      </button>
    </ion-buttons>         
  </ion-navbar>
</ion-header>

<ion-content style="background-color:#FFF" no-padding>

  

  <div class="outer" *ngIf="isLoading == true || isLoadingAddress == true">
    <div class="middle">
      <div class="inner"> 
        <img class="loading-icon" src="assets/flat-icon/loading.gif" /> 
        <span ion-text text-wrap>Mendapatkan Lokasi Anda...</span>
      </div>
    </div>
  </div>
  

  <div #map id="map"></div>

  <div class="container-2" *ngIf="isLoading == false && fromPage == 'FingerprintModalPage' && long != '' && lat != '' && isLoadingAddressData == false && !isLoadingAddress && (addressData['ID_ADDRESS'] == '' || addressData['STATUS'] == 'REJECTED' || addressData['STATUS'] == 'WAITING')" >   

    <div class="address-container-2" *ngIf="addressData == null || addressData['ID_ADDRESS'] == ''">
      <table>
        <tr>
          <td width="20%" align="center">
            <img class="pin-icon" src="assets/flat-icon/alert.png" /> 
          </td>
          <td> 
            <span ion-text text-wrap style="font-size: 1.3rem;color:#FF9102;">
            Anda belum melakukan setup lokasi domisili, silahkan melakukan request lokasi domisili anda.
          </span>
        </td>
        </tr>
      </table>         
    </div>

    <div class="address-container-2" *ngIf="addressData == null || addressData['STATUS'] == 'WAITING'">
      <table>
        <tr>
          <td width="20%" align="center">
            <img class="pin-icon" src="assets/flat-icon/alert.png" /> 
          </td>
          <td> 
            <span ion-text text-wrap style="font-size: 1.3rem;color:#FF9102;">
            Request lokasi domisili sedang menunggu approval dari atasan.
          </span>
        </td>
        </tr>
      </table>         
    </div>

    <div class="address-container" *ngIf="addressData['STATUS'] == 'REJECTED'">
      <table>
        <tr>
          <td width="20%" align="center">
            <img class="pin-icon" src="assets/flat-icon/alert.png" /> 
          </td>
          <td> 
            <span ion-text text-wrap style="font-size: 1.3rem;color:#FF9102;">
            Request lokasi domisili anda ditolak, silahkan melakukan request ulang lokasi domisili anda.
          </span>
        </td>
        </tr>
      </table>         
    </div>      
  </div>


  <div class="container" *ngIf="isLoading == false && fromPage == 'FingerprintModalPage' && long != '' && lat != '' && isLoadingAddressData == false && !isLoadingAddress" >   
    <div class="address-container" *ngIf="!isLoadingAddress && currAddress != null" >
      <table>
        <tr>
          <td width="20%" align="center">
            <img class="pin-icon" src="assets/flat-icon/pin.png" /> 
          </td>
          <td> 
            <span ion-text text-wrap style="font-size: 1.3rem;">
            {{ currAddress }}
          </span>
        </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <span ion-text text-wrap style="font-size: 1.1rem;">
             <b>Lat :</b> {{ latSimplify }} <b>Long :</b> {{ longSimplify }}
            </span>
          </td>
        </tr>
      </table>         
    </div>
    <div *ngIf="addressData == null || addressData['ID_ADDRESS'] == '' || addressData['STATUS'] == 'REJECTED'" >
      <button ion-button outline class="my-button" color="secondary" (click)="insertAddress()">
        Request lokasi Domisili
        <!-- <ion-icon name="ios-pin-outline"></ion-icon> -->
      </button>
    </div>

    <!-- <div *ngIf="addressData != null && addressData['ID_ADDRESS'] != '' && (addressData['STATUS'] == 'APPROVED' || addressData['STATUS'] == 'WAITING')"> -->
    <div>
      <button ion-button icon-end  *ngIf="type == 'checkin'" class="my-button" color="secondary" (click)="takeImage(1)">
        Check In
        <ion-icon name="md-finger-print"></ion-icon>
      </button>
      <button ion-button icon-end  *ngIf="type == 'checkout'" class="my-button" color="secondary" (click)="takeImage(1)">
        Check Out
        <ion-icon name="md-finger-print"></ion-icon>
      </button>
    </div>
  </div>

  <div class="container" *ngIf="fromPage == 'AbsenMobileDetailPage' && !isLoadingAddress" >   
    <div style="height: 70%;color: gray;" *ngIf="!isLoadingAddress && currAddress != null" >
      <table>
        <tr>
          <td width="20%" align="center" rowspan="2">
            <img class="pin-icon" src="assets/flat-icon/pin.png" /> 
          </td>
          <td> 
            <span ion-text text-wrap style="font-size: 1.3rem;">
            {{ currAddress }}
          </span>
        </td>
        </tr>
        <tr>
          <td>
            <span ion-text text-wrap style="font-size: 1.1rem;">
             <b>Lat :</b> {{ latSimplify }} <b>Long :</b> {{ longSimplify }}
            </span>
          </td>
        </tr>
      </table>         
    </div>
  </div>
</ion-content>
