// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$font-family-md-base: 'Poppins', sans-serif;

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    #488aff,
  // secondary:  #32db64,
  // danger:     #f53d3d,
  // light:      #f4f4f4,
  // dark:       #222,
  // orange : #E64037,
  // purple : #795091,
  // white: white,
  // gray: #C1C1C1,
  primary   :#488aff,
  secondary :#32db64,
  // danger:     #f53d3d,
  danger    :#EF144A,
  light     :#f4f4f4,
  dark      :#222,
  ptpBlue   :#4789FE,
  white     :#FFFFFF,
  orange    :#F45E36,
  gray      :#C1C1C1,
  orangeMuda:#FEA51E,
  color1    :#0061cd,
  color2    :#ff9500,
  color3    :#e2e1dd, 
  color4    :#939391,
  color5    :#fcd462,
  // color6    :#E64037,
  color6    :#099AB7,
  ungu      :#BB43E3,
  biruungu  :#9247EC,
  pink    : #FF5F9B,
  black: black,
  googleColor:  #ff5450,
  color7:#366cf3,
  hijau:#14c514
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";

@font-face {
  font-family: 'nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/font/Nunito-Regular.ttf);
}

@font-face {
  font-family: 'nunito';
  font-style: semi-bold;
  font-weight: 600;
  src: url(../assets/font/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: 'nunito';
  font-style: bold;
  font-weight: 700;
  src: url(../assets/font/Nunito-Bold.ttf);
}

@font-face {
  font-family: 'nunito';
  font-style: extra-bold;
  font-weight: 900;
  src: url(../assets/font/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: 'nunito';
  font-style: bold;
  font-weight: bold;
  src: url(../assets/font/Nunito-ExtraBold.ttf);
}