page-cvedit {
  .icon-family {
    width: 18px;
    height: 18px;
  }

  .small-text {
    font-size: 1.2rem;
    color:gray;
  }

  .medium-text {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .item-md h2,
  .item-ios h2 {
    font-size: 1.8rem !important;
  }

  .item-md p,
  .item-ios p {
    font-size: 1.5rem;
  }

  ion-badge {
    font-size: 1rem !important;
  }

  .header-card {
    text-align: center;
    background-color: color($colors, color6);
    border: none !important;
  }

  .font-header {
    color: color($colors, light);
    font-size: 1.5rem;
  }

  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .fab {
    contain: layout;
  }

  .fab {
    contain: layout;
  }

  .icons {
    width: 25px;
  }

  .font {
    font-size: 1.2rem;
  }

  .font2 {
    font-size: 1.3rem;
  }

  .font3 {
    font-size: 1.4rem;
  }

  //

  .card-md {
    border-radius: 3px;
    border-left: 4px solid mediumpurple !important;
    border: 1px solid #e6e6e6;
    box-shadow: none !important;
  }

  .card-ios {
    border-radius: 3px;
    border-left: 4px solid mediumpurple !important;
    border: 1px solid #e6e6e6;
    box-shadow: none !important;
  }

  // .header .toolbar .bar-button .icon {
  //   color: color($colors, color5);
  // }

  .font-mini {
    font-size: 1.2rem;
  }

  .font-small {
    font-size: 1.3rem;
    color: gray;
  }

  .content-4 {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius:16px;
    box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.5);
}

.header-content-4 {
    background-color: #EBF0FE;
    border-top-left-radius: 16px;
    color:#366cf3;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    height: 40px;
    border-top-right-radius: 16px;
}

.body-content-4 {
    padding: 10px 16px;
    width: 100%;
}

.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
  margin: 3px 8px 3px 0 !important;
}

.item-ios [item-left], .item-ios [item-right], .item-ios [item-start], .item-ios [item-end] {
  margin: 3px 8px 3px 0 !important;
}

.item-md {
  font-size: 1.3rem !important;
  padding-left: 0 !important;
  background-color: transparent !important;
}

.item-ios {
  font-size: 1.3rem !important;
  padding-left: 0 !important;
  background-color: transparent !important;
}

.bg-yellow {
  background-color: #FEFFB2 !important;
}
}
