<!--
  Generated template for the UpdateUserdataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <span ion-text color="light" class="fw500">Ubah Profile</span>
  </ion-navbar>
</ion-header> 

<ion-content padding>
  <div *ngIf="updateType == 'ttd' || updateType == 'foto' ">
    <ion-card class="my-card" (click)="getImage()">
      <ion-item>
        <img  class="photo" src="{{ imageURI }}" />
        <div style="text-align: -webkit-center;">
            <span ion-text text-wrap style="text-align:center;color:gray;" *ngIf="updateType == 'ttd'" >Upload Tanda Tangan</span>
            <span ion-text text-wrap style="text-align:center;color:gray;" *ngIf="updateType == 'foto'">Upload Foto CV (akan ditampilkan di E-CV)</span>
        </div>
        
      </ion-item>
    </ion-card>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <button ion-button full icon-start color="danger" style="border-radius: 5px;" (click)="back()">
        <ion-icon name="close"></ion-icon>
        Batal
      </button>
    </div>
    <div class="col">
      <button ion-button full icon-end style="border-radius: 5px;" (click)="doUpdate()">
        Ubah
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
