<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <span ion-text color="white">Setting</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="header-container">
    <div class="header-img"></div>
    <div class="img-container">
      <img *ngIf="notEmpty(userdataTPK)" src="{{ userdataTPK['data']['FOTO'] }}" class="my-img" />
      <img *ngIf="!notEmpty(userdataTPK)" src="assets/imgs/menu-icon/person.png" class="my-img" />
      <!-- <img src="assets/imgs/setting-icon/camera_blue.png" class="edit-profile"> -->
    </div>
  </div>

  <div *ngIf="isLoading == false && notEmpty(userdataTPK)">
    <div style="margin-top:50px;" class="user-info">
      <span ion-text class="user-info-name">
          <b>{{ userdataTPK['data']['NAMA'] }}</b>
      </span><br>
      <span ion-text text-wrap class="user-info-jab">
          {{ userdataTPK['data']['NAMAJABATAN'] }}
      </span>
    </div>

    <ion-card class="setting-card">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/nipp.png" class="icons">
        </div>
        <span ion-text text-wrap class="font-mini" color="gray">
          NIPP
        </span> <br>
        <span ion-text text-wrap class="font-small">
          {{ userdataTPK['data']['NIPP'] }}
        </span>
      </ion-item>
    </ion-card>

    <ion-card class="setting-card" style="border-left: 4px solid lightblue">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/email.png" class="icons">
        </div>
        <span ion-text text-wrap class="font-mini" color="gray">
          Email
        </span> <br>
        <span ion-text text-wrap class="font-small">
          {{ userdataTPK['data']['EMAIL'] }}
        </span>
        <span item-end ion-text text-wrap class="font-small" style="float:right !important;" color="primary"
          (click)="goToUpdate('email')">
          <ion-icon name="md-create"></ion-icon>
          Ubah
        </span>
      </ion-item>
    </ion-card>

    <ion-card class="setting-card" style="border-left: 4px solid lightgreen">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/phone.png" class="icons">
        </div>
        <span ion-text text-wrap class="font-mini" color="gray">
          Nomor Telepon
        </span> <br>
        <span ion-text text-wrap class="font-small">
            {{ userdataTPK['data']['HP'] }}
          </span>
        <span item-end ion-text text-wrap class="font-small" style="float:right !important;" color="primary"
          (click)="goToUpdate('hp')">
          <ion-icon name="md-create"></ion-icon>
          Ubah
        </span>
      </ion-item>
    </ion-card>

    <ion-card class="setting-card" style="border-left: 4px solid mediumpurple;margin-bottom: 50px;">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/pass3.png" class="icons">
        </div>
        <span ion-text text-wrap class="font-mini" color="gray">
          Password
        </span> <br>
        <span ion-text text-wrap class="font-small">
          ************
        </span>
        <span item-end ion-text text-wrap class="font-small" style="float:right !important;" color="primary"
          (click)="goToUpdate('pass')">
          <ion-icon name="md-create"></ion-icon>
          Ubah
        </span>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="isLoading == true && !notEmpty(userdataTPK)">
    <div style="margin-top:50px;padding:0px 10px 0px 10px;width: 100%;" class="user-info">
      <div class="animate-skeleton-background load-2" style="margin-left:auto;margin-right:auto;"></div>
      <div class="animate-skeleton-background load-1" style="margin-left:auto;margin-right:auto;"></div>
    </div>

    <ion-card class="setting-card">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/nipp.png" class="icons">
        </div>
        <div class="animate-skeleton-background load-2"></div>
        <div class="animate-skeleton-background load-1"></div>
      </ion-item>
    </ion-card>

    <ion-card class="setting-card" style="border-left: 4px solid lightblue">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/email.png" class="icons">
        </div>
        <div class="animate-skeleton-background load-2"></div>
        <div class="animate-skeleton-background load-1"></div>
      </ion-item>
    </ion-card>

    <ion-card class="setting-card" style="border-left: 4px solid lightgreen">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/phone.png" class="icons">
        </div>
        <div class="animate-skeleton-background load-2"></div>
        <div class="animate-skeleton-background load-1"></div>
      </ion-item>
    </ion-card>

    <ion-card class="setting-card" style="border-left: 4px solid mediumpurple;margin-bottom: 50px;">
      <ion-item>
        <div item-start class="icon-container">
          <img src="assets/imgs/setting-icon/pass3.png" class="icons">
        </div>
        <div class="animate-skeleton-background load-2"></div>
        <div class="animate-skeleton-background load-1"></div>
      </ion-item>
    </ion-card>
  </div>


  <div class="version">
    <span ion-text text-wrap>Versi 1.0.0</span>
  </div>

</ion-content>