<ion-header>
  <ion-navbar>
    <ion-title>
      <span ion-text color="light">Restitusi</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="searchCuti()">
        <ion-icon style="font-size:2.4rem;" name="md-search" color="light"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

 
</ion-header>

<ion-content>
  <ion-list class="dining_List" *ngIf="restitusiList.length == 0  && isLoading == false">
    <ion-card class="primary-bg">
      <ion-card-content>
        <span style="font-size:1.3rem">Tidak ada data restitusi.</span>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list class="dining_List" *ngIf="restitusiList.length != 0 && isLoading == false">
    <ion-card *ngFor="let restitusi of restitusiList" class="my-card" (click)="goToDetail(restitusi)">
      <ion-item>
        <span item-start>
          <img src="assets/imgs/menu-icon/restitusi.png" class="icons">
        </span>
        <span ion-text text-wrap class="font2" color="danger"> - </span><br />
        <span ion-text text-wrap class="font2" >{{ restitusi['JENIS'] }}</span><br>        
        <span ion-text text-wrap class="font2" ><b>Rp. {{ sum(restitusi) }}</b></span><br>
        
        <span ion-text text-wrap class="font" color="color4">
          {{ restitusi['TGL_PENGAJUAN'] }}
        </span>
        <span ion-text text-wrap style="font-size: 1.2rem;" color="primary" item-end><b>{{ restitusi['KETERANGAN'] }}</b></span>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf='restitusiList.length == 0 && isLoading == true'>
    <ion-card *ngFor='let fake of fakeUsers'>
      <ion-item>
        <div class="animate-skeleton-background load-2"></div>
        <div class="animate-skeleton-background load-3"></div>
        <div class="animate-skeleton-background load-1"> </div>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>

<ion-footer>
  <ion-fab right bottom style="margin-right:10px; margin-bottom: 10px;">
    <button ion-fab color="red" (click)="goToForm()">
      <ion-icon name="md-add" color="light"></ion-icon>
    </button>
  </ion-fab>
</ion-footer>