<!--
  Generated template for the CvPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="img-ban-top"></div>
  <div class="content-1">
    <div class="fill-1">
      <span ion-text text-wrap class="name-class">Erda Ulhaq Bagig</span>
      <br>
      <ion-item>
        <div item-start>
          <img class="icon-style" src="assets/imgs/menu-icon/inbox.png">
        </div>
        <span ion-text text-wrap class="small-text">sdadasddasdsadana@gmail.com</span>
      </ion-item>
      <ion-item>
        <div item-start>
          <img class="icon-style" src="assets/imgs/setting-icon/phone.png">
        </div>
        <span ion-text text-wrap class="small-text">08193799804</span>
      </ion-item>
      <ion-item>
        <div item-start>
          <img class="icon-style" src="assets/imgs/setting-icon/nipp.png">
        </div>
        <span ion-text text-wrap class="small-text">1812530093</span>
      </ion-item>

    </div>
  </div>
  <img src="assets/imgs/user-img.jpg" alt="" class="img-style">

  <div class="content-2">
    <div class="fill-2">
      <div class="jab-img-container">
        <!-- <img src="assets/flat-icon/jabatan.png" alt="" class="jabatan-img"> -->
      </div>

      <div class="jab-text-container">
        <span ion-text text-wrap>Jabatan</span>
        <br>
        <span ion-text text-wrap class="small-text">Deputy Vice President Administrasi dan Umum</span>
      </div>

    </div>
  </div>

  <div class="content-3">

    <div class="fill-3">

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <div item-start>
              <img class="icon-style" src="assets/imgs/menu-icon/alamat.png">
            </div>
            <span ion-text text-wrap class="small-text">Place of Birth</span>
          </ion-item>
          <div style="margin-left: 27px;">
            <span ion-text text-wrap class="medium-text">Jombang</span>
          </div>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <div item-start>
              <img class="icon-style" src="assets/imgs/menu-icon/jumHari.png">
            </div>
            <span ion-text text-wrap class="small-text">Date of Birth</span>
          </ion-item>
          <div style="margin-left: 27px;">
            <span ion-text text-wrap class="medium-text">17-AUG-21</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <div item-start>
              <img class="icon-style" src="assets/imgs/logo/gender.png">
            </div>
            <span ion-text text-wrap class="small-text">Gender</span>
          </ion-item>
          <div style="margin-left: 27px;">
            <span ion-text text-wrap class="medium-text">Laki-laki</span>
          </div>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <div item-start>
              <img class="icon-style" src="assets/imgs/logo/heart.png">
            </div>
            <span ion-text text-wrap class="small-text">Marital Status</span>
          </ion-item>
          <div style="margin-left: 27px;">
            <span ion-text text-wrap class="medium-text">Menikah</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <div item-start>
              <img class="icon-style" src="assets/imgs/logo/pray.png">
            </div>
            <span ion-text text-wrap class="small-text">Religion</span>
          </ion-item>
          <div style="margin-left: 27px;">
            <span ion-text text-wrap class="medium-text">Islam</span>
          </div>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <div item-start>
              <img class="icon-style" src="assets/imgs/logo/document-icon.png">
            </div>
            <span ion-text text-wrap class="small-text">NPWP</span>
          </ion-item>
          <div style="margin-left: 27px;">
            <span ion-text text-wrap class="medium-text">123456789987654321</span>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="container">
    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Assignment</span>
        </div>
  
        <div class="body-content-4" *ngIf='showAssigment' #assignmentAnim>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == true" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;" color='danger'>Sembunyikan Data Assignment</button>
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == false" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Tampilkan Data Assignment </button>
        </div>
      </div>
  
    </div>

    <br>

    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Performance Record</span>
        </div>
  
        <div class="body-content-4" *ngIf='showPerform' >
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showPerform == true" (click)="togglePerform()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;" color='danger'>Sembunyikan Performance Record</button>
        </div>
  
        <div class="body-content-4" *ngIf="showPerform == false" (click)="togglePerform()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Tampilkan Performance Record</button>
        </div>
      </div>
  
    </div>

    <br>

    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Formal Education</span>
        </div>
  
        <div class="body-content-4" *ngIf='showEducation' >
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showEducation == true" (click)="toggleEducation()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;" color='danger'>Sembunyikan Formal Education</button>
        </div>
  
        <div class="body-content-4" *ngIf="showEducation == false" (click)="toggleEducation()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;" >Tampilkan Formal Education</button>
        </div>
      </div>
  
    </div>

    <br>

    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Training Record</span>
        </div>
  
        <div class="body-content-4" *ngIf='showAssigment' >
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == true" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Sembunyikan Data Assignment</button>
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == false" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Tampilkan Data Assignment </button>
        </div>
      </div>
  
    </div>

    <br>

    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Family Identity</span>
        </div>
  
        <div class="body-content-4" *ngIf='showAssigment' >
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == true" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Sembunyikan Data Assignment</button>
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == false" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Tampilkan Data Assignment </button>
        </div>
      </div>
  
    </div>

    <br>

    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Assignment History</span>
        </div>
  
        <div class="body-content-4" *ngIf='showAssigment' >
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == true" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Sembunyikan Data Assignment</button>
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == false" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Tampilkan Data Assignment </button>
        </div>
      </div>
  
    </div>

    <br>

    <div class="content-4">
      <div class="fill-4">
        <div class="header-content-4">
          <span ion-text text-wrap>Reward & Punishment</span>
        </div>
  
        <div class="body-content-4" *ngIf='showAssigment' >
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/building.png">
                </div>
                <span ion-text text-wrap class="small-text">Company Name - Type</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PELINDO II - BUMN</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jabatan.png">
                </div>
                <span ion-text text-wrap class="small-text">Position Title</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Deputy Vice President Administrasi dan Umum</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkin.png">
                </div>
                <span ion-text text-wrap class="small-text">Start Date</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12-AUG-2021</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/checkout.png">
                </div>
                <span ion-text text-wrap class="small-text">Date of Hire</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">18-DEC-2020</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/diagram.png">
                </div>
                <span ion-text text-wrap class="small-text">Organization</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">Keuangan dan SDM</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/jenis_cuti.png">
                </div>
                <span ion-text text-wrap class="small-text">Assigment Category</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">PEKERJA</span>
              </div>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/bar-chart.png">
                </div>
                <span ion-text text-wrap class="small-text">Grade</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">12</span>
              </div>
            </ion-col>
          </ion-row>
  
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <div item-start>
                  <img class="icon-style" src="assets/flat-icon/nama.png">
                </div>
                <span ion-text text-wrap class="small-text">Superordinate</span>
              </ion-item>
              <div style="margin-left: 27px;">
                <span ion-text text-wrap class="medium-text">DEVI SARASWATI</span>
              </div>
            </ion-col>
          </ion-row>
  
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == true" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Sembunyikan Data Assignment</button>
        </div>
  
        <div class="body-content-4" *ngIf="showAssigment == false" (click)="toggleAssigment()">
          <button ion-button round outline style="width: 100%;font-size: 1.3rem;">Tampilkan Data Assignment </button>
        </div>
      </div>
  
    </div>

    <br><br>

  </div>
 

</ion-content>