page-lembur {
  .font-small {
    font-size: 1.3rem;
  }

  .icons {
    width: 25px;
  }

  .card-md {
    border-radius: 3px;
    border-left: 4px solid #00acc1 !important;
    border: 1px solid #e6e6e6;
    box-shadow: none !important;
  }

  .font-mini {
    font-size: 1.2rem;
  }
  .content {
    background-color: #f5f5f5;
  }
}
